<h2 class="govuk-heading-l">Help us to improve this service</h2>
{{ govukRadios({
  idPrefix: "feedback",
  name: "feedback",
  fieldset: {
    legend: {
      text: "How would you describe your experience with this service?"
    }
  },
  items: [
    {
      value: "very-good",
      text: "Very good"
    },
    {
      value: "good",
      text: "Good"
    },
    {
      value: "neither",
      text: "Neither good or bad"
    },
    {
      value: "bad",
      text: "Bad"
    },
    {
      value: "very-bad",
      text: "Very bad"
    }
  ]
}) }}
{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "How can we improve this service?"
  },
  hint: {
    text: "For example, if a question was confusing let us know which one."
  }
}) }}
{{ govukButton({
  text: "Submit"
}) }}