{% extends "layout.html" %}
{% block pageTitle %}
  The Insolvency Northern Ireland Order 1989 forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/ini" method="post">
        {{ govukRadios({
          idPrefix: "typeIni",
          name: "typeIni",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>The Insolvency (Northern Ireland) Order 1989</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cvam",
              text: "Company voluntary arrangement and moratoria"
            },
            {
              value: "in-admin",
              text: "In administration"
            },
            {
              value: "receivership",
              text: "Receivership"
            },
            {
              value: "liquidation",
              text: "Liquidation"
            },
            {
              value: "mvl",
              text: "Members’ voluntary liquidation (MVL) and creditors’ voluntary liquidation (CVL)"
            },
            {
              value: "euni",
              text: "Insolvency across EU member states: Northern Ireland"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
