{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
  {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/ini" method="post">
        {{ govukRadios({
          idPrefix: "typeIni",
          name: "typeIni",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>The Insolvency (Northern Ireland) Order 1989</span>
 What type of document are you uploading?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "cvam",
              text: "Company voluntary arrangement and moratoria"
            },
            {
              value: "in-admin",
              text: "In administration"
            },
            {
              value: "receivership",
              text: "Receivership"
            },
            {
              value: "liquidation",
              text: "Liquidation"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}