{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading? -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "form-types"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/limited" method="post">
        {{ govukRadios({
        idPrefix: "type",
        name: "type",
        fieldset: {
          legend: {
            html: "<span class='govuk-caption-l'>Document for a limited company</span>
What type of document are you uploading?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
        {
          value: "constitution",
          text: "Change of constitution",
          hint: {
           text: "CC forms"
          }
        },
        {
          value: "share",
          text: "Share capital",
          hint: {
           text: "SH forms, statement by directors and solvency statement"
          }
        },
        {
          value: "res-articles",
          text: "Articles and resolutions"
        }
        ]
        }) }}
        {{ govukButton({
      text: "Continue"
    }) }}
      </form>
    </div>
  </div>
{% endblock %}