{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "form-types"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/limited" method="post">
        {{ govukRadios({
        idPrefix: "type",
        name: "type",
        fieldset: {
          legend: {
            html: "<span class='govuk-caption-xl'>Limited Company</span>
What type of document are you uploading?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
        {
          value: "share",
          text: "Share capital",
          hint: {
           text: "SH forms, statement by directors, solvency statement and resolutions "
          }
        },
        {
          value: "constitution",
          text: "Change of constitution",
          hint: {
           text: "CC forms, articles and resolutions"
          }
        },
        {
          value: "reg",
          text: "Registrar's powers",
          hint: {
           text: "RP forms"
          }
        },
        {
          value: "constitution",
          text: "Resolutions and Articles",
          hint: {
           text: "CC forms, articles and resolutions"
          }
        }
        ]
        }) }}
        {{ govukButton({
      text: "Continue"
    }) }}
      </form>
    </div>
  </div>
{% endblock %}