{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  {{ pageTitle("Select a document - Corporate Insolvency and Governance Act 2020") }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/moratorium" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Corporate Insolvency and Governance Act 2020</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "MT01 - Notice that moratorium has come into force",
              text: "MT01 - Notice that moratorium has come into force"
            },
            {
              value: "MT02 - Notice that moratorium has ended or been extended",
              text: "MT02 - Notice that moratorium has ended or been extended"
            },
            {
              value: "MT03 - Notice of early end of moratorium",
              text: "MT03 - Notice of early end of moratorium"
            },
            {
              value: "MT04 - Notice of end of moratorium by a monitor",
              text: "MT04 - Notice of end of moratorium by a monitor"
            },
            {
              value: "MT05 - Notice of end of moratorium by a court",
              text: "MT05 - Notice of end of moratorium by a court"
            },
            {
              value: "MT06 - Notice of end of moratorium following disposal of application for extension by the court or following CVA proposal taking effect or being withdrawn",
              text: "MT06 - Notice of end of moratorium following disposal of application for extension by the court or following CVA proposal taking effect or being withdrawn"
            },
            {
              value: "MT07 - Court order permitting disposal of property or goods",
              text: "MT07 - Court order permitting disposal of property or goods"
            },
            {
              value: "MT08 - Notice of replacement or additional monitor following court order",
              text: "MT08 - Notice of replacement or additional monitor following court order"
            },
            {
              value: "MT09 - Notice of monitor ceasing to act following court order",
              text: "MT09 - Notice of monitor ceasing to act following court order"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}