{% extends "layout.html" %}
{% block pageTitle %}
  Resolutions
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/resolutions" method="post">
        {{ govukRadios({
          idPrefix: "typeRes",
          name: "typeRes",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Resolutions</span>
 What type of document are you uploading?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "erwu",
              text: "Extraordinary resolution to wind up"
            },
            {
              value: "srwu",
              text: "Special resolution to wind up"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}