{% extends "layout.html" %}
{% block pageTitle %}
  {{ pageTitle("Select a document - Scottish limited partnership") }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/spi" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Registration of a Scottish limited partnership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "LP5(s) - Apply for a registration of a limited partnership in Scotland",
              text: "LP5(s) - Apply for a registration of a limited partnership in Scotland"
            },
            {
              value: "LP7(s) - Apply for registration as a private fund limited partnership in Scotland",
              text: "LP7(s) - Apply for registration as a private fund limited partnership in Scotland"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../upload-accounts"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}