{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
items: [
{
text: "Form types",
href: "../form-types"
},
{
text: "Resolutions"
}
]
}) }}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/resolutions/resolutions" method="post">
        <h1 class="govuk-heading-xl">Resolutions</h1>
        <h2 class="govuk-heading-m">You cannot upload your resolution:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>to change name of company</li>
          <li>regarding an insolvency case</li>
          <li>TBC</li>
        </ul>
        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}