{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/resolutions/resolutions" method="post">
        <h1 class="govuk-heading-xl">Resolutions</h1>
        <h2 class="govuk-heading-m">You cannot use this service to upload a resolution:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>to change the name of a company</li>
          <li>in relation to an insolvency case</li>
          <li>for company to community interest company (CIC) conversions and CIC to charitable company conversions</li>
        </ul>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}