{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - In administration - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cva" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "2 (Scotland) - Notice of the appointment of a receiver by a court",
            text: "2 (Scotland) - Notice of the appointment of a receiver by a court"
          },
          {
            value: "2.1 (Scotland) - Notice of petition for administration order",
            text: "2.1 (Scotland) - Notice of petition for administration order"
          },
          {
            value: "2.11 (Scotland) - Notice of order to deal with secured property",
            text: "2.11 (Scotland) - Notice of order to deal with secured property"
          },
          {
            value: "2.11B (Scotland) - Notice of appointment of administrative receiver, receiver or manager",
            text: "2.11B (Scotland) - Notice of appointment of administrative receiver, receiver or manager"
          },
          {
            value: "2.12 (Scotland) - Notice of variation of administration order",
            text: "2.12 (Scotland) - Notice of variation of administration order"
          },
            {
              value: "2.12B(CH) - Notice of administrator's appointment",
              text: "2.12B(CH) - Notice of administrator's appointment"
            },
            {
              value: "2.15B (Scotland) - Notice of statement of affairs",
              text: "2.15B (Scotland) - Notice of statement of affairs"
            },
            {
              value: "2.16B - Notice of statement of affairs",
              text: "2.16B - Notice of statement of affairs"
            },
            {
              value: "2.16B (Scotland) - Statement of administrator's proposal",
              text: "2.16B (Scotland) - Statement of administrator's proposal"
            },
            {
              value: "2.16BZ (Scotland) - Notice of deemed approval of proposal",
              text: "2.16BZ (Scotland) - Notice of deemed approval of proposal"
            },
            {
              value: "2.17B - Notice of a statement of administrator's proposals",
              text: "2.17B - Notice of a statement of administrator's proposals"
            },
            {
              value: "2.17B (Scotland) - Statement of administrator's revised proposal",
              text: "2.17B (Scotland) - Statement of administrator's revised proposal"
            },
            {
              value: "2.18B(CH) - Notice of extension of time period",
              text: "2.18B(CH) - Notice of extension of time period"
            },
            {
              value: "2.18B (Scotland) - Notice of result of meeting of creditors",
              text: "2.18B (Scotland) - Notice of result of meeting of creditors"
            },
            {
              value: "2.19B (Scotland) - Notice of order to deal with secured property",
              text: "2.19B (Scotland) - Notice of order to deal with secured property"
            },
          {
            value: "2.2 (Scotland) - Notice of administration order",
            text: "2.2 (Scotland) - Notice of administration order"
          },
          {
            value: "2.2B (Scotland) - Notice of petition for administration order",
            text: "2.2B (Scotland) - Notice of petition for administration order"
          },
          {
            value: "2.20B (Scotland) - Administrator's progress report",
            text: "2.20B (Scotland) - Administrator's progress report"
          },
          {
            value: "2.21B (Scotland) - Notice of automatic end of administration",
            text: "2.21B (Scotland) - Notice of automatic end of administration"
          },
          {
            value: "2.22B(CH) - Notice of administrator's revised proposals",
            text: "2.22B(CH) - Notice of administrator's revised proposals"
          },
          {
            value: "2.22B (Scotland) - Notice of extension of period of administration",
            text: "2.22B (Scotland) - Notice of extension of period of administration"
          },
          {
            value: "2.23B(CH) - Notice of result of creditors' meeting",
            text: "2.23B(CH) - Notice of result of creditors' meeting"
          },
          {
            value: "2.23B (Scotland) - Notice of end of administration",
            text: "2.23B (Scotland) - Notice of end of administration"
          },
          {
            value: "2.24B(CH) - Notice of administrator’s progress report",
            text: "2.24B(CH) - Notice of administrator’s progress report"
          },
          {
            value: "2.24B (Scotland) - Notice of court order ending administration",
            text: "2.24B (Scotland) - Notice of court order ending administration"
          },
          {
            value: "2.25B (Scotland) - Notice of move from administration to creditors' voluntary liquidation",
            text: "2.25B (Scotland) - Notice of move from administration to creditors' voluntary liquidation"
          },
          {
            value: "2.26B(CH) - Amend certificate of constitution of creditors’ committee",
            text: "2.26B(CH) - Amend certificate of constitution of creditors’ committee"
          },
          {
            value: "2.26B (Scotland) - Notice of move from administration to dissolution",
            text: "2.26B (Scotland) - Notice of move from administration to dissolution"
          },
          {
            value: "2.27B - 	Notice by administrator of a change in committee",
            text: "2.27B - 	Notice by administrator of a change in committee"
          },
          {
            value: "2.27B (Scotland) - Notice of court order in respect of date of dissolution",
            text: "2.27B (Scotland) - Notice of court order in respect of date of dissolution"
          },
          {
            value: "2.28B - Notice of order to deal with charged property",
            text: "2.28B - Notice of order to deal with charged property"
          },
          {
            value: "2.29B (Scotland) - Notice of resignation by administrator",
            text: "2.29B (Scotland) - Notice of resignation by administrator"
          },
          {
            value: "2.3 (Scotland) - Notice of dismissal of petition for administration order",
            text: "2.3 (Scotland) - Notice of dismissal of petition for administration order"
          },
          {
            value: "2.3B (Scotland) - Notice of dismissal of petition for administration order",
            text: "2.3B (Scotland) - Notice of dismissal of petition for administration order"
          },
          {
            value: "2.30B(CH) - Notice of the automatic end of administration",
            text: "2.30B(CH) - Notice of the automatic end of administration"
          },
          {
            value: "2.30B (Scotland) - Notice of vacation of office by administrator",
            text: "2.30B (Scotland) - Notice of vacation of office by administrator"
          },

          {
            value: "2.31B - Notice of the extension of period of administration",
            text: "2.31B - Notice of the extension of period of administration"
          },
          {
            value: "2.31B (Scotland) - Notice of appointment of replacement/additional administrator",
            text: "2.31B (Scotland) - Notice of appointment of replacement/additional administrator"
          },
          {
            value: "2.32B(CH) - Notice of the end of administration",
            text: "2.32B(CH) - Notice of the end of administration"
          },
          {
            value: "2.32B (Scotland) - Notice of insufficient property for distribution to unsecured creditors other than by virtue",
            text: "2.32B (Scotland) - Notice of insufficient property for distribution to unsecured creditors other than by virtue"
          },
          {
            value: "2.33B - Notice of court order ending administration",
            text: "2.33B - Notice of court order ending administration"
          },
          {
            value: "2.34B - Notice of move from administration to creditors’ voluntary liquidation",
            text: "2.34B - Notice of move from administration to creditors’ voluntary liquidation"
          },
          {
            value: "2.35B - Notice of move from administration to dissolution",
            text: "2.35B - Notice of move from administration to dissolution"
          },
          {
            value: "2.36B - Notice to registrar of companies in respect of date of dissolution",
            text: "2.36B - Notice to registrar of companies in respect of date of dissolution"
          },
          {
            value: "2.38B(CH) - Notice of resignation by administrator",
            text: "2.38B(CH) - Notice of resignation by administrator"
          },
          {
            value: "2.39B - Notice of vacation of office by administrator",
            text: "2.39B - Notice of vacation of office by administrator"
          },
          {
            value: "2.4 (Scotland) - Notice of discharge of administration order",
            text: "2.4 (Scotland) - Notice of discharge of administration order"
          },
          {
            value: "2.40B - Notice of appointment of replacement/additional administrator",
            text: "2.40B - Notice of appointment of replacement/additional administrator"
          },
          {
            value: "2.7 (Scotland) - Notice of statement of administrator's proposals",
            text: "2.7 (Scotland) - Notice of statement of administrator's proposals"
          },
          {
            value: "2.8 (Scotland) - Notice of result of meeting creditors",
            text: "2.8 (Scotland) - Notice of result of meeting creditors"
          },
          {
            value: "2.9 (Scotland) - Administrator's abstract of receipts and payments",
            text: "2.9 (Scotland) - Administrator's abstract of receipts and payments"
          }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}