{% extends "layout.html" %}
{% block pageTitle %}
  Insolvency across EU member states: Northern Ireland forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency-1986/insolvency-euni" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Insolvency across EU member states: Northern Ireland</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "IE01(NI) - Give notice of approval of an undertaking for assets in another member state"
            },

            {
              value: "vam1",
              text: "IE02(NI) - Give notice of approval of a proposed undertaking to local creditors in the UK"
            },
            {
              value: "vam1s",
              text: "IE03(Scot) - Give notice of an order opening group co-ordination proceedings"
            },
            {
              value: "vam7",
              text: "IE03(NI) - Give notice of an order opening group co-ordination proceedings"
            },
            {
              value: "vam7s",
              text: "IE04(NI) - Give a statement of insolvency proceedings in another member state with consent to dissolution"
            },
            {
              value: "vam7s",
              text: "IE05(NI) - Give a statement of insolvency proceedings in another member state without consent to dissolution"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}