{% extends "layout.html" %}
{% block pageTitle %}
  Liquidation forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cva" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Liquidation</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "4.15A - Give notice of appointment of provisional liquidator"
            },
            {
              value: "cva1",
              text: "4.16 (Northern Ireland) - Appointment of provisional liquidator"
            },
            {
              value: "cva1",
              text: "4.16A (Northern Ireland) - Notice of appointment of provisional liquidator in winding up by the court"
            },
            {
              value: "cva1",
              text: "4.17 (Scotland) - Notice of final account prior to dissolution in a winding up by the court"
            },
            {
              value: "cva1",
              text: "4.18 - Statement of affairs (attachment to 4.20)"
            },
            {
              value: "cva1",
              text: "4.19 - Statement of affairs (attachment to 4.20) "
            },
            {
              value: "cva1",
              text: "4.19 (Northern Ireland) - Statement of affairs voluntary liquidation"
            },
            {
              value: "cva1",
              text: "4.2 (Scotland) - Notice of court order in a winding up (and Court Order attachment)"
            },
            {
              value: "cva1",
              text: "4.2 (Scotland) - Notice of winding up order"
            },
            {
              value: "cva1",
              text: "4.2 (Northern Ireland) - Statement of affairs"
            },
            {
              value: "vam1",
              text: "4.20 - Make statement of company's affairs"
            },
            {
              value: "vam1",
              text: "4.20 (Northern Ireland) - Statement of affairs creditors' voluntary wind Up"
            },
            {
              value: "vam1s",
              text: "F4.20 - Give notice of revised account"
            },
            {
              value: "cva1",
              text: "4.21 (Northern Ireland) - Statement of affairs"
            },
            {
              value: "cva1",
              text: "4.23 (Northern Ireland) - Deferment of dissolution"
            },
            {
              value: "cva1",
              text: "4.26 - Notice of final account prior to dissolution in MVL (final account attached)"
            },
            {
              value: "cva1",
              text: "4.26 (Scotland) - Notice of court order staying/sisting proceedings in a winding up in MVL or CVL"
            },
            {
              value: "cva1",
              text: "4.26 (Northern Ireland) - Proof of debt"
            },
            {
              value: "cva1",
              text: "4.27 (Scotland) - Notice of court order staying or sisting proceedings in a winding up by the court"
            },
            {
              value: "cva1",
              text: "4.28 - Notice of order deferring the date of dissolution in MVL or CVL"
            },
            {
              value: "cva1",
              text: "4.28 (Scotland) - Give notice of court order for early dissolution in a winding up by the court"
            },
            {
              value: "vam7",
              text: "4.31 - Give notice of appointment of liquidator"
            },
            {
              value: "vam7",
              text: "4.31 (Scotland) - Notice to registrar of companies in respect of order under section 176A"
            },
            {
              value: "vam7",
              text: "4.32 (Northern Ireland) - Notice of appointment of a liquidator in winding up by the court"
            },
            {
              value: "vam7s",
              text: "4.33 - Give notice of resignation as voluntary liquidator"
            },
            {
              value: "vam7s",
              text: "4.34 (Northern Ireland) - Notice of resignation as voluntary liquidator under Article 145(5) of the Insolvency (Northern Ireland) Order 1989"
            },
            {
              value: "vam8s",
              text: "4.35 - Give notice of court order granting liquidator to resign"
            },
            {
              value: "vam8s",
              text: "4.36 (Northern Ireland) - Notice of order of court granting liquidator leave to resign"
            },
            {
              value: "vam8s",
              text: "4.38 - Give notice of removal of voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "F4.39 - Terminate the appointment of provisional liquidator"
            },
            {
              value: "vam8s",
              text: "4.39 (Northern Ireland) - Certificate of removal of voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.40 - Give notice of ceasing to act as voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "F4.41 - Give notice of the statement of affairs"
            },
            {
              value: "vam8s",
              text: "4.41 (Northern Ireland) - Notice of ceasing to act as voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.43 - Give notice of the final meeting of creditors"
            },
            {
              value: "vam8s",
              text: "4.43 (Northern Ireland) - Liquidation miscellaneous"
            },
            {
              value: "vam8s",
              text: "4.44 - Give notice of the death of the voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.44 (Northern Ireland) - Notice of final meeting of creditors"
            },
            {
              value: "vam8s",
              text: "4.45 (Northern Ireland) - Notice of death of voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.46 - Give notice of vacation of office by voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "F4.47 - Give notice of the removal of the liquidator"
            },
            {
              value: "vam8s",
              text: "4.47 (Northern Ireland) - Notice of vacation of office by voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.48 - Give notice of constitution of liquidation committee"
            },
            {
              value: "vam8s",
              text: "4.48 (Northern Ireland) - Liquidation miscellaneous"
            },
            {
              value: "vam8s",
              text: "4.49 - Report change in membership of liquidation committee"
            },
            {
              value: "vam8s",
              text: "4.49 (Northern Ireland) - Notice of constitution of liquidation committee"
            },
            {
              value: "vam8s",
              text: "4.50 - Give notice by liquidator that creditors have been paid"
            },
            {
              value: "vam8s",
              text: "4.50 (Northern Ireland) - Liquidation miscellaneous"
            },
            {
              value: "vam8s",
              text: "4.51 - Give notice by certificate that creditors paid in full"
            },
            {
              value: "vam8s",
              text: "4.52 (Northern Ireland) - Certificate that creditors have been paid in full"
            },
            {
              value: "vam8s",
              text: "4.53 (Northern Ireland) - Liquidator's certificate of continuance of liquidation committee"
            },
            {
              value: "vam8s",
              text: "4.68 - Give notice of the liquidator's progress report"
            },
            {
              value: "vam8s",
              text: "4.69 - Give notice of order of court on appeal"
            },
            {
              value: "vam8s",
              text: "4.69 (Northern Ireland) - Liquidator's statement of receipts and payments"
            },
            {
              value: "vam8s",
              text: "4.70 - Declaration of solvency"
            },
            {
              value: "vam8s",
              text: "4.70 (Northern Ireland) - Order of court on appeal against secretary of state's decision"
            },
            {
              value: "vam8s",
              text: "4.71 - Give notice of final meeting in members' voluntary winding up"
            },
            {
              value: "vam8s",
              text: "4.71 (Northern Ireland) - Declaration of solvency"
            },
            {
              value: "vam8s",
              text: "4.72 - Give notice of final meeting in creditors' voluntary winding up"
            },
            {
              value: "vam8s",
              text: "4.72 (Northern Ireland) - Return of final meeting in a members' voluntary winding up"
            },
            {
              value: "vam8s",
              text: "4.73 (Northern Ireland) - Return of final meeting in a creditors' voluntary winding-up"
            },
            {
              value: "cva1",
              text: "4.9 (Scotland) - Notice of order of appointment of provisional liquidator in a winding up by the court (and Court Order attachment)"
            },
            {
              value: "vam8s",
              text: "F9.4 - Give notice of constitution of creditors' or liquidation committee"
            },
            {
              value: "vam8s",
              text: "F10.2 - Give notice of disclaimer under section 178 of Insolvency Act"
            },
            {
              value: "vam8s",
              text: "12.1 - Give notice in respect of order under section 176a"
            },
            {
              value: "vam8s",
              text: "F14 - Notice of a winding up order"
            }
          ]
        }) }}
      <p class="govuk-body govuk-!-font-weight-bold">I confirm I am authorised to send this document for filing.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
