{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Liquidation - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cva" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Liquidation</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "cva1",
            text: "600 (England and Wales) - Appoint liquidator in voluntary winding up"
          },
            {
              value: "cva1",
              text: "4.15A - Notice of appointment of provisional liquidator"
            },
            {
              value: "cva1",
              text: "4.17 (Scotland) - Notice of final account prior to dissolution in a winding up by the court"
            },
            {
              value: "cva1",
              text: "4.2 (Scotland) - Notice of winding up order"
            },
            {
              value: "vam1",
              text: "4.20 - Make statement of company's affairs"
            },
            {
              value: "cva1",
              text: "4.27 (Scotland) - Notice of court order staying or sisting proceedings in a winding up by the court"
            },
            {
              value: "vam7",
              text: "4.31 - Notice of appointment of liquidator"
            },
            {
              value: "vam7",
              text: "4.31 (Scotland) - Notice to registrar of companies in respect of order under section 176A"
            },
            {
              value: "vam7s",
              text: "4.33 - Notice of resignation as voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.35 - Notice of court order granting liquidator to resign"
            },
            {
              value: "vam8s",
              text: "4.38 - Notice of removal of voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.40 - Notice of ceasing to act as voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "F4.41 - Notice of the statement of affairs"
            },
            {
              value: "vam8s",
              text: "4.43 - Notice of the final meeting of creditors"
            },
            {
              value: "vam8s",
              text: "4.44 - Notice of the death of the voluntary liquidator"
            },
            {
              value: "vam8s",
              text: "4.51 - Notice by certificate that creditors paid in full"
            },
            {
              value: "vam8s",
              text: "4.68 - Notice of the liquidator's progress report"
            },
            {
              value: "vam8s",
              text: "4.69 - Notice of order of court on appeal"
            },
            {
              value: "vam8s",
              text: "4.70 - Declaration of solvency"
            },
            {
              value: "vam8s",
              text: "4.71 - Notice of final meeting in members' voluntary winding up"
            },
            {
              value: "vam8s",
              text: "4.72 - Notice of final meeting in creditors' voluntary winding up"
            },
            {
              value: "cva1",
              text: "4.9 (Scotland) - Notice of order of appointment of provisional liquidator in a winding up by the court"
            },
            {
              value: "vam8s",
              text: "F10.2 - Notice of disclaimer under section 178 of Insolvency Act"
            },
            {
              value: "vam8s",
              text: "12.1 - Notice in respect of order under section 176a"
            },
            {
              value: "vam8s",
              text: "F14 - Notice of a winding up order"
            },
            {
              value: "carcasses",
              text: "L64.01 - 	Early completion of winding up"
            },
            {
              value: "mines",
              text: "L64.04 - 	Deferment of dissolution (compulsory)"
            },
            {
              value: "mines",
              text: "L64.07 - 	Completion of winding up"
            },
            {
              value: "mines",
              text: "L72.18 - 	Winding up covering letter"
            },
            {
              value: "mines",
              text: "COCOMP - Order of court to wind up"
            },
            {
              value: "mines",
              text: "COLIQ - Deferment of dissolution"
            },
            {
              value: "mines",
              text: "DETERMINATION - Determination for LLPs"
            },
            {
              value: "mines",
              text: "O/C DISCLOSE - Order of court limiting disclosure"
            },
            {
              value: "mines",
              text: "O/C LTD DISCLOSE - Order of court limiting disclosure"
            },
            {
              value: "mines",
              text: "O/C EARLY DISS - Order of court: early dissolution"
            },
            {
              value: "mines",
              text: "O/C PROV RECALL -  Order of court: recall of provisional liquidator"
            },
            {
              value: "mines",
              text: "O/C RESCIND - Order of court to rescind winding up"
            },
            {
              value: "mines",
              text: "O/C STAY - 	Order of court to stay strike off"
            },
            {
              value: "mines",
              text: "O/C UNSTAY - 	Order of court to unstay strike off"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
