{% extends "layout.html" %}
{% block pageTitle %}
  Members' voluntary liquidation and creditors' voluntary liquidation forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/mva" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Members' voluntary liquidation and creditors' voluntary liquidation</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "LIQ MISC -  OC	Court order insolvency"
            },
            {
              value: "cva1",
              text: "LIQ MISC - 	Insolvency"
            },
            {
              value: "cva1",
              text: "LIQ MISC RES - 	Resolution insolvency"
            },
            {
              value: "cva1",
              text: "LIQ JUDG D (Northern Ireland) - Notification of an overseas judgement for a UK company"
            },
            {
              value: "cva1",
              text: "LIQ JUDG F (Northern Ireland) - Notification of an overseas judgement for a foreign company"
            },
            {
              value: "cva1",
              text: "LIQ MISC - 	Insolvency"
            },
            {
              value: "cva1",
              text: "LIQ MISC OC (Northern Ireland) - Liquidation Miscellaneous Oder of Court Northern Ireland"
            },
            {
              value: "cva1",
              text: "LIQ MISC (Northern Ireland) - Liquidation Miscellaneous Northern Ireland"
            },
            {
              value: "cva1",
              text: "LIQ MISCRES (Northern Ireland) - Liquidation Miscellaneous Creditors Resolution Northern Ireland"
            },
            {
              value: "cva1",
              text: "LIQ01 - Give notice of statutory declaration of solvency"
            },
            {
              value: "cva1",
              text: "LIQ02 - Give notice of statement of affairs"
            },
            {
              value: "cva1",
              text: "LIQ02SOAD - 	Statement of affairs directors"
            },
            {
              value: "cva1",
              text: "LIQ02SOAL - 	Statement of affairs liquidator "
            },
            {
              value: "cva1",
              text: "LIQ03 - Notice of progress report in voluntary winding up"
            },
            {
              value: "cva1",
              text: "LIQ04 - 	Notice of order deferring the date of dissolution in MVL or CVL"
            },
            {
              value: "cva1",
              text: "LIQ04 (Scotland) - Give notice of order deferring the date of dissolution for a Scottish company"
            },
            {
              value: "cva1",
              text: "LIQ05 - 	Notice of order limiting disclosure of statement of affairs in CVL"
            },
            {
              value: "cva1",
              text: "LIQ05SOA - 	Statement of affairs "
            },
            {
              value: "cva1",
              text: "LIQ05SOC - 	Statement of concurrence "
            },
            {
              value: "cva1",
              text: "LIQ06 - 	Notice of liquidators resignation in MVL or CVL"
            },
            {
              value: "cva1",
              text: "LIQ07 - 	Notice of removal of liquidator by creditors"
            },
            {
              value: "cva1",
              text: "LIQ08 - 	Notice of loss of qualification as insolvency practitioner in MVL and CVL"
            },
            {
              value: "cva1",
              text: "LIQ09 - Notice of deceased liquidator in MVL and CVL"
            },
            {
              value: "cva1",
              text: "LIQ10 - 	Notice of removal of liquidator by court in MVL and CVL"
            },
            {
              value: "cva1",
              text: "LIQ11 - 	Notice of removal of liquidator by company meeting in MVL"
            },
            {
              value: "cva1",
              text: "LIQ12 - 	Notice of release of former liquidator by secretary of state in MVL or CVL"
            },
            {
              value: "cva1",
              text: "LIQ13 - Give notice of final account prior to dissolution in MVL"
            },
            {
              value: "cva1",
              text: "LIQ13 (Scotland) - Final account prior to dissolution in MVL for a Scottish company"
            },
            {
              value: "cva1",
              text: "LIQ14 - Give notice of final account prior to dissolution in CVL"
            },
            {
              value: "cva1",
              text: "LIQ15 (Scotland) - Give notice of a court order staying or sisting proceedings in a CVL or MVL winding up"
            }
          ]
        }) }}
        <p class="govuk-body govuk-!-font-weight-bold">I confirm I am authorised to send this document for filing.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
