{% extends "layout.html" %}
{% block pageTitle %}
  Receivership forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cva" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "cva1",
            text: "3.2 - 	Statement of affairs"
          },
            {
              value: "cva1",
              text: "3.3 - Make statement of affairs in administrative receivership"
            },
            {
              value: "vam7",
              text: "3.6(CH) - Notice of abstract of receipts and payments"
            },

            {
              value: "vam7s",
              text: "3.7 - Notice of administrative receiver's death"
            },
            {
              value: "vam8s",
              text: "3.8 - Notice of order to dispose of charged property"
            },
            {
              value: "vam8s",
              text: "3.10 - Notice of administrative receiver's report"
            },
            {
              value: "mines",
              text: "Form 1 (Scotland) - Notice of appointment of administrative receiver, receiver or manager"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
