{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  In administration forms -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-adminstration" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}