{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - In administration - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-adminstration" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "cva1",
              text: "2.07 - Notice of administration order"
            },
            {
              value: "cva1",
              text: "2.08 - Administration order"
            },
            {
              value: "cva1",
              text: "2.12B - Notice of administrator's appointment"
            },
            {
              value: "cva1",
              text: "2.14B - Statement of affairs"
            },
            {
              value: "cva1",
              text: "2.15B - Statement of concurrence"
            },
            {
              value: "vam1",
              text: "2.16 - Administrator's abstracts"
            },
            {
              value: "vam1",
              text: "2.16B - Notice of statement of affairs"
            },
            {
              value: "vam1s",
              text: "2.17B - Statement of administrator's proposals"
            },
            {
              value: "vam7",
              text: "2.18B - Notice of extension of time period"
            },
            {
              value: "vam7",
              text: "2.18BA - Notice of deemed approval of proposals"
            },
            {
              value: "vam7",
              text: "2.19 - Notice of order to deal with charged property"
            },
            {
              value: "vam7s",
              text: "2.20 - Notice of discharge of administration order"
            },
            {
              value: "vam7s",
              text: "2.21 - Notice of variation of administration order"
            },
            {
              value: "vam8s",
              text: "2.22 - Statement of administrator's proposals"
            },
            {
              value: "vam8s",
              text: "2.22B - Statement of administrator's revised proposals"
            },
            {
              value: "vam8s",
              text: "2.23B - Notice of result of creditors’ meeting"
            },
            {
              value: "vam8s",
              text: "2.24 - Notice of result of meeting of creditors"
            },
            {
              value: "vam8s",
              text: "2.24B - Notice of administrator’s progress report"
            },
            {
              value: "vam8s",
              text: "2.26B - Amend certificate of constitution of creditors’ committee"
            },
            {
              value: "vam8s",
              text: "2.27B - Notice by administrator of a change in committee membership"
            },
            {
              value: "vam8s",
              text: "2.28B - Notice of order to deal with charged property"
            },
            {
              value: "vam8s",
              text: "2.30B - Notice of automatic end of administration"
            },
            {
              value: "vam8s",
              text: "2.31B - Notice of the extension period of administration"
            },
            {
              value: "vam8s",
              text: "2.32B - Notice of end of administration"
            },
            {
              value: "vam8s",
              text: "2.33B - Notice of court order ending administration"
            },
            {
              value: "vam8s",
              text: "2.34B - Notice of move from administration to creditors’ voluntary liquidation"
            },
            {
              value: "vam8s",
              text: "2.35B - Notice of move from administration to dissolution"
            },
            {
              value: "vam8s",
              text: "2.36B - Notice to registrar of companies in respect of date of dissolution"
            },
            {
              value: "vam8s",
              text: "2.38B - Notice of resignation by administrator"
            },
            {
              value: "vam8s",
              text: "2.39B - Notice of vacation of office by administrator"
            },
            {
              value: "cva1",
              text: "2.4 - Notice of appointment of replacement/additional administrator"
            },
            {
              value: "vam8s",
              text: "2.40B -  Notice of appointment of replacement/additional administrator"
            }
          ]
        }) }}
        <h3 class="govuk-heading-m">How to upload 2.14B and 2.16B forms</h3>
                <p class="govuk-body">You must merge these forms first and upload them as one PDF document.</p>
                <div class="govuk-inset-text">
                  <p class="govuk-body">
          Form 2.16B should be at the front, followed by form 2.14B.</p>
</div>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Help with merging forms
</span>
</summary>
<div class="govuk-details__text">

<p class="govuk-body">To merge these forms, you could:</p>
<ul class="govuk-list govuk-list--bullet">
<li>use an online tool or app that merges PDF documents</li>
<li>create a new document and combine saved files into a single PDF</li>
<li>scan documents together if you have access to a printer or photocopier, and save the scan as a single PDF</li>
</ul>
</div>
</details>
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
