{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - In administration -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-adminstration" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "2.07 - Notice of administration order",
              text: "2.07 - Notice of administration order"
            },
            {
              value: "2.08 - Administration order",
              text: "2.08 - Administration order"
            },
            {
              value: "2.12B - Notice of administrator's appointment",
              text: "2.12B - Notice of administrator's appointment"
            },
            {
              value: "2.15B - Statement of concurrence",
              text: "2.15B - Statement of concurrence"
            },
            {
              value: "2.16 - Administrator's abstracts",
              text: "2.16 - Administrator's abstracts"
            },
            {
              value: "2.16B - Notice of statement of affairs",
              text: "2.16B - Notice of statement of affairs"
            },
            {
              value: "2.17B - Statement of administrator's proposals",
              text: "2.17B - Statement of administrator's proposals"
            },
            {
              value: "2.18B - Notice of extension of time period",
              text: "2.18B - Notice of extension of time period"
            },
            {
              value: "2.18BA - Notice of deemed approval of proposals",
              text: "2.18BA - Notice of deemed approval of proposals"
            },
            {
              value: "2.19 - Notice of order to deal with charged property",
              text: "2.19 - Notice of order to deal with charged property"
            },
            {
              value: "2.20 - Notice of discharge of administration order",
              text: "2.20 - Notice of discharge of administration order"
            },
            {
              value: "2.21 - Notice of variation of administration order",
              text: "2.21 - Notice of variation of administration order"
            },
            {
              value: "2.22 - Statement of administrator's proposals",
              text: "2.22 - Statement of administrator's proposals"
            },
            {
              value: "2.22B - Statement of administrator's revised proposals",
              text: "2.22B - Statement of administrator's revised proposals"
            },
            {
              value: "2.23B - Notice of result of creditors’ meeting",
              text: "2.23B - Notice of result of creditors’ meeting"
            },
            {
              value: "2.24 - Notice of result of meeting of creditors",
              text: "2.24 - Notice of result of meeting of creditors"
            },
            {
              value: "2.24B - Notice of administrator’s progress report",
              text: "2.24B - Notice of administrator’s progress report"
            },
            {
              value: "2.26B - Amend certificate of constitution of creditors’ committee",
              text: "2.26B - Amend certificate of constitution of creditors’ committee"
            },
            {
              value: "2.27B - Notice by administrator of a change in committee membership",
              text: "2.27B - Notice by administrator of a change in committee membership"
            },
            {
              value: "2.28B - Notice of order to deal with charged property",
              text: "2.28B - Notice of order to deal with charged property"
            },
            {
              value: "2.30B - Notice of automatic end of administration",
              text: "2.30B - Notice of automatic end of administration"
            },
            {
              value: "2.31B - Notice of the extension period of administration",
              text: "2.31B - Notice of the extension period of administration"
            },
            {
              value: "2.32B - Notice of end of administration",
              text: "2.32B - Notice of end of administration"
            },
            {
              value: "2.33B - Notice of court order ending administration",
              text: "2.33B - Notice of court order ending administration"
            },
            {
              value: "2.34B - Notice of move from administration to creditors’ voluntary liquidation",
              text: "2.34B - Notice of move from administration to creditors’ voluntary liquidation"
            },
            {
              value: "2.35B - Notice of move from administration to dissolution",
              text: "2.35B - Notice of move from administration to dissolution"
            },
            {
              value: "2.36B - Notice to registrar of companies in respect of date of dissolution",
              text: "2.36B - Notice to registrar of companies in respect of date of dissolution"
            },
            {
              value: "2.38B - Notice of resignation by administrator",
              text: "2.38B - Notice of resignation by administrator"
            },
            {
              value: "2.39B - Notice of vacation of office by administrator",
              text: "2.39B - Notice of vacation of office by administrator"
            },
            {
              value: "2.4 - Notice of appointment of replacement/additional administrator",
              text: "2.4 - Notice of appointment of replacement/additional administrator"
            },
            {
              value: "2.40B -  Notice of appointment of replacement/additional administrator",
              text: "2.40B -  Notice of appointment of replacement/additional administrator"
            }
          ]
        }) }}
        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">How to upload 2.14B and 2.16B documents</h3>
          <p class="govuk-body govuk-!-font-weight-normal">You must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>select form '2.16B' from the list</li>
            <li>merge the documents so that you can upload them as a single PDF</li>
            <li>place form 2.16B at the front when you merge the documents, followed by form 2.14B</li>
          </ul>

        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with merging documents
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body">To merge these documents, you could:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>use an online tool or app that merges PDF documents</li>
              <li>create a new document and combine saved files into a single PDF</li>
              <li>scan documents together if you have access to a printer or photocopier, and save the scan as a single PDF</li>
            </ul>
          </div>
        </details>
        <br>
        <br>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}