{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  Select a document - Liquidation -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cva" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Liquidation</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "Creditors' voluntary liquidation resolution",
            text: "Creditors' voluntary liquidation resolution"
          },
          {
            value: "Members' voluntary liquidation resolution",
            text: "Members' voluntary liquidation resolution"
          },
          {
            value: "L21 - Early completion of winding up",
            text: "L21 - Early completion of winding up"
          },
          {
            value: "L22 - Completion of winding up",
            text: "L22 - Completion of winding up"
          },
          {
            value: "L131 -  Deferment of dissolution (compulsory)",
            text: "L131 -  Deferment of dissolution (compulsory)"
          },
          {
            value: "VL1 - Notice of appointment of liquidator: voluntary winding up (members or creditors)",
            text: "VL1 - Notice of appointment of liquidator: voluntary winding up (members or creditors)"
          },
          {
            value: "4.16 - Notice of appointment of provisional liquidator",
            text: "4.16 - Notice of appointment of provisional liquidator"
          },
          {
            value: "4.16A - Notice of appointment of provisional liquidator in winding up by the court",
            text: "4.16A - Notice of appointment of provisional liquidator in winding up by the court"
          },
          {
            value: "4.21 - Statement of affairs",
            text: "4.21 - Statement of affairs"
          },
          {
            value: "4.23 - Deferment of dissolution",
            text: "4.23 - Deferment of dissolution"
          },
          {
            value: "4.26 - Proof of debt",
            text: "4.26 - Proof of debt"
          },
          {
            value: "4.32 - Notice of appointment of a liquidator in winding up by the court",
            text: "4.32 - Notice of appointment of a liquidator in winding up by the court"
          },
          {
            value: "4.34 - Notice of resignation as voluntary liquidator under Article 145(5) of the Insolvency (Northern Ireland) Order 1989",
            text: "4.34 - Notice of resignation as voluntary liquidator under Article 145(5) of the Insolvency (Northern Ireland) Order 1989"
          },
          {
            value: "4.36 - Notice of order of court granting liquidator leave to resign",
            text: "4.36 - Notice of order of court granting liquidator leave to resign"
          },
          {
            value: "4.39 - Certificate of removal of voluntary liquidator",
            text: "4.39 - Certificate of removal of voluntary liquidator"
          },
          {
            value: "4.41 - Notice of ceasing to act as voluntary liquidator",
            text: "4.41 - Notice of ceasing to act as voluntary liquidator"
          },
          {
            value: "4.44 - Notice of final meeting of creditors",
            text: "4.44 - Notice of final meeting of creditors"
          },
          {
            value: "4.45 - Notice of death of voluntary liquidator",
            text: "4.45 - Notice of death of voluntary liquidator"
          },
          {
            value: "4.47 - Notice of vacation of office by voluntary liquidator",
            text: "4.47 - Notice of vacation of office by voluntary liquidator"
          },
          {
            value: "4.52 - Certificate that creditors have been paid in full",
            text: "4.52 - Certificate that creditors have been paid in full"
          },
          {
            value: "4.53 - Liquidator's certificate of continuance of liquidation committee",
            text: "4.53 - Liquidator's certificate of continuance of liquidation committee"
          },
          {
            value: "4.69 - Liquidator's statement of receipts and payments",
            text: "4.69 - Liquidator's statement of receipts and payments"
          },
          {
            value: "4.70 - Order of court on appeal against secretary of state's decision",
            text: "4.70 - Order of court on appeal against secretary of state's decision"
          },
          {
            value: "4.71 - Declaration of solvency",
            text: "4.71 - Declaration of solvency"
          },
          {
            value: "4.72 - Return of final meeting in a members' voluntary winding up",
            text: "4.72 - Return of final meeting in a members' voluntary winding up"
          },
          {
            value: "4.73 - Return of final meeting in a creditors' voluntary winding up",
            text: "4.73 - Return of final meeting in a creditors' voluntary winding up"
          }
          ]
        }) }}
        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">How to upload 4.19, 4.20 and 4.21 documents</h3>

          <p class="govuk-body govuk-!-font-weight-bold">To upload form 4.21 with form 4.19, you must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>select form '4.21' from the list</li>
            <li>merge the documents so that you can upload them as a single PDF</li>
            <li>place form 4.21 at the front when you merge the documents, followed by form 4.19</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">To upload form 4.21 with form 4.20, you must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>select form '4.21' from the list</li>
            <li>merge the documents so that you can upload them as a single PDF</li>
            <li>place form 4.21 at the front when you merge the documents, followed by form 4.20</li>
          </ul>

        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with merging documents
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body">To merge these documents, you could:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>use an online tool or app that merges PDF documents</li>
              <li>create a new document and combine saved files into a single PDF</li>
              <li>scan documents together if you have access to a printer or photocopier, and save the scan as a single PDF</li>
            </ul>
          </div>
        </details>
        <br>
        <br>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}