{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Receivership -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/receivership" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "cva1",
              text: "3.05 -  Statement of affairs in administrative receivership following report to creditors"
            },
            {
              value: "cva1",
              text: "3.06 - Certificate of constitution (amended certificate) of creditors' committee"
            },
            {
              value: "cva1",
              text: "3.07 - Administrative receiver's report as to change in membership of creditors' committee"
            },
            {
              value: "cva1",
              text: "3.08 - Receiver or manager or administrative receiver's abstract of receipts and payment"
            },
            {
              value: "cva1",
              text: "3.09 - Notice of administrative receiver's death"
            },
            {
              value: "cva1",
              text: "3.10 - Notice of order to dispose of charged property"
            },
            {
              value: "cva1",
              text: "3.12 - Administrative receiver's report"
            }
          ]
        }) }}

        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">How to upload 3.04, 3.05 and 3.12 documents</h3>
          <p class="govuk-body govuk-!-font-weight-bold">To upload form 3.05 with form 3.04, you must:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>select form '3.05' from the list</li>
            <li>merge the documents so that you can upload them as a single PDF</li>
            <li>place form 3.05 at the front when you merge the documents, followed by form 3.04</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">To upload form 3.12 with an administrative receiver's report, you must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>select form '3.12' from the list</li>
            <li>merge the documents so that you can upload them as a single PDF</li>
            <li>place form 3.12 at the front when you merge the documents, followed by the report</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">To upload form 3.12 with form 3.04 and an administrative receiver's report, you must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>select form '3.12' from the list</li>
            <li>merge the documents so that you can upload them as a single PDF</li>
            <li>place form 3.12 at the front when you merge the documents, followed by form 3.04, then the report</li>
          </ul>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with merging documents
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body">To merge these documents, you could:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>use an online tool or app that merges PDF documents</li>
              <li>create a new document and combine saved files into a single PDF</li>
              <li>scan documents together if you have access to a printer or photocopier, and save the scan as a single PDF</li>
            </ul>
          </div>
        </details>
        <br>
        <br>
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}