{% extends "layout.html" %}
{% block pageTitle %}
  Receivership forms
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/receivership" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "cva1",
              text: "3.04 -  Statement of affairs receivership"
            },
            {
              value: "cva1",
              text: "3.05 -  Statement of affairs in administrative receivership following report to creditors"
            },
            {
              value: "cva1",
              text: "3.06 - Certificate of constitution (amended certificate) of creditors' committee"
            },
            {
              value: "cva1",
              text: "3.07 - Administrative receiver's report as to change in membership of creditors' committee"
            },
            {
              value: "cva1",
              text: "3.08 - Receiver or manager or administrative receiver's abstract of receipts and payment"
            },
            {
              value: "cva1",
              text: "3.09 - Notice of administrative receiver's death"
            },
            {
              value: "cva1",
              text: "3.10 - Notice of order to dispose of charged property"
            },
            {
              value: "cva1",
              text: "3.12 - Administrative receiver's report"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}