{% extends "layout.html" %}
{% block pageTitle %}
  Committees forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/exempting-property" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Committees</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "COM1 - Give notice of establishment of creditors' or liquidation committee"
            },
            {
              value: "cva1",
              text: "COM1(Scot) - Notice of establishment of creditors committee (Administration)"
            },
            {
              value: "cva1",
              text:  "COM2 - Give notice of change of membership of a creditors' or liquidation committee"
            },
            {
              value: "cva1",
              text: "COM2(Scot) - Notice of change of membership of creditors committee (Administration)"
            },
            {
              value: "cva1",
              text:  "COM3 - Give notice of continuation of creditors' committee"
            },
            {
              value: "cva1",
              text:  "COM4 - Give notice of cessation of liquidation committee"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}