{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Committees - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/committess" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Committees</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "COM1 - Notice of establishment of creditors' or liquidation committee",
              text: "COM1 - Notice of establishment of creditors' or liquidation committee"
            },
            {
              value: "COM2 - Notice of change of membership of a creditors' or liquidation committee",
              text:  "COM2 - Notice of change of membership of a creditors' or liquidation committee"
            },
            {
              value: "COM3 - Notice of continuation of creditors' committee",
              text:  "COM3 - Notice of continuation of creditors' committee"
            },
            {
              value: "COM4 - Notice of cessation of liquidation committee",
              text:  "COM4 - Notice of cessation of liquidation committee"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}