{% extends "layout.html" %}
{% block pageTitle %}
  Company voluntary arrangement forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cva" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Company voluntary arrangement</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "CVA1 - Give notice of voluntary arrangement taking effect"
            },
            {
              value: "cva1",
              text: "CVA1(Scot) - Give notice of voluntary arrangement taking effect for a Scottish company"
            },
            {
              value: "vam1",
              text: "CVA2 - Give notice of order of revocation or suspension of voluntary arrangement"
            },
            {
              value: "cva1",
              text: "CVA2(Scot) - Notice of order of revocation or suspension of CVA"
            },
            {
              value: "vam1s",
              text: "CVA3 - Give notice of supervisor's progress report in voluntary arrangement"
            },
            {
              value: "cva1",
              text: "CVA3(Scot) - Notice of supervisors  progress report in CVA"
            },
            {
              value: "vam7",
              text: "CVA4 - Give notice of termination or full implementation of voluntary arrangement"
            },
            {
              value: "cva1",
              text: "CVA4(Scot) - Terminate or fully implement voluntary arrangement for a Scottish company"
            }
          ]
        }) }}
        <p class="govuk-body govuk-!-font-weight-bold">I confirm I am authorised to send this document for filing.</p>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
