{% extends "layout.html" %}
{% block pageTitle %}
  Company voluntary arrangement moratorium forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/cvam" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Company voluntary arrangement moratorium</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "VAM1 - Give notice of the commencement of moratorium"
            },
            {
              value: "cva1",
              text: "VAM1 (Scotland) - Give notice of the commencement of moratorium for a Scottish company"
            },

            {
              value: "vam1",
              text: "VAM2 - Give notice of continuation of moratorium"
            },
            {
              value: "cva1",
              text: "VAM2 (Scotland) - Give notice of continuation of moratorium"
            },
            {
              value: "vam1s",
              text: "VAM3 - Give notice of decision extending or further extending moratorium"
            },
            {
              value: "cva1",
              text: "VAM3 (Scotland) - Give notice of decision extending or further extending a moratorium"
            },
            {
              value: "vam7",
              text: "VAM4 - Give notice of court order in relation to a moratorium"
            },
            {
              value: "cva1",
              text: "VAM4 (Scotland) - Notice of court order extending or further extending or continuing or renewing a moratorium"
            },
            {
              value: "vam7",
              text: "VAM5 - Give notice of the withdrawal of nominee's consent to act"
            },
            {
              value: "cva1",
              text: "VAM5 (Scotland) - Give notice of the withdrawal of nominee's consent to act"
            },
            {
              value: "vam7",
              text: "VAM6 - Give notice of the appointment of a replacement nominee"
            },
            {
              value: "cva1",
              text: "VAM6 (Scotland) - Give notice of the appointment of a replacement nominee"
            },
            {
              value: "vam7",
              text: "VAM7 - Give notice of the end of moratorium"
            },
            {
              value: "cva1",
              text: "VAM7 (Scotland) - Give notice of the end of moratorium for a Scottish company"
            },
            {
              value: "vam7",
              text: "VAMC - Give notice of a court order in respect of a voluntary arrangement or moratorium"
            },
            {
              value: "cva1",
              text: "VAM8 (Scotland) - Give notice of disposal of charged property during a moratorium for a Scottish company"
            },
            {
              value: "cva1",
              text: "VAMC (Scotland) - Give notice of court order in respect of a voluntary arrangement or moratorium"
            }
          ]
        }) }}
      <p class="govuk-body govuk-!-font-weight-bold">I confirm I am authorised to send this document for filing.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
