{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
items: [
{
  text: "Form types",
  href: "#"
},
{
  text: "Insolvency form categories",
  href: "#"
},
{
  text: "In administration "
}
]
}) }}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-adminstration" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "In adminstration",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "am01",
              text: "AM01 - Give notice of administrators appointment"
            },
            {
              value: "am21",
              text: "AM21 - Give notice of end of administration"
            },
            {
              value: "am22",
              text: "AM22 - Give notice of a move from adminisitration to creditors' voluntary liquidation"
            },
            {
              value: "am23",
              text: "AM23 - Give notice of move from administration to dissolution"
            },
            {
              value: "am01s",
              text: "AM01 (Scotland) - Give notice of administrator's appointment"
            },
            {
              value: "am20s",
              text: "AM20 (Scotland) -  Give notice of automatic end of administration"
            },
            {
              value: "am21s",
              text: "AM21 (Scotland) - Give notice of end of administration"
            },
            {
              value: "am22s",
              text: "AM22 (Scotland) - Move a Scottish company from administration to dissolution"
            },
            {
              value: "am24s",
              text: "AM24 (Scotland) - Give notice of a court order in respect of date of dissolution"
            },
            {
              value: "am25s",
              text: "AM25 (Scotland) - Give notice of court order ending administration "
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}