{% extends "layout.html" %}
{% block pageTitle %}
  In administration forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-adminstration" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "am01",
              text: "AM01 - Give notice of administrator's appointment"
            },
            {
              value: "am01s",
              text: "AM01 (Scotland) - Give notice of administrator's appointment"
            },
            {
              value: "am01",
              text: "AM02 - Give notice of statement of affairs in administration"
            },
            {
              value: "am01",
              text: "AM03 - Give notice of administrator's proposals"
            },
            {
              value: "am01",
              text: "AM04 - Give notice of the extension of time to deliver administrator's proposals"
            },
            {
              value: "am01",
              text: "AM05 - Give notice of extension of time to seek approval"
            },
            {
              value: "am01",
              text: "AM06 - Give notice of approval of administrator's proposals"
            },
            {
              value: "am01",
              text: "AM07 - Give notice of creditor's decision on administrator's proposals"
            },
            {
              value: "am01",
              text: "AM08 - Give notice of revision of administrator's proposals"
            },
            {
              value: "am01",
              text: "AM09 - Give notice of result of creditor's decision"
            },
            {
              value: "am01",
              text: "AM10 - Give notice of administrator's progress report"
            },
            {
              value: "am01",
              text: "AM11 - Give notice of appointment of replacement or additional administrator"
            },
            {
              value: "am01",
              text: "AM12 - Give notice of order limiting disclosure"
            },
            {
              value: "am01",
              text: "AM13 - Give notice of rescission or amendment of order limiting disclosure"
            },
            {
              value: "am01",
              text: "AM14 - Give notice of an order to dispose of charged property"
            },
            {
              value: "am01",
              text: "AM15 - Give notice of resignation of administrator"
            },
            {
              value: "am01",
              text: "AM16 - Give notice of order removing administrator from office"
            },
            {
              value: "am01",
              text: "AM17 - Give notice of vacation of office"
            },
            {
              value: "am01",
              text: "AM18 - Give notice of deceased administrator"
            },
            {
              value: "am01",
              text: "AM19 - Give notice of the extension of period of administration"
            },
            {
              value: "am01",
              text: "AM20 - Give notice of automatic end of administration"
            },
            {
              value: "am20s",
              text: "AM20 (Scotland) -  Give notice of automatic end of administration"
            },
            {
              value: "am21",
              text: "AM21 - Give notice of end of administration"
            },
            {
              value: "am21s",
              text: "AM21 (Scotland) - Give notice of end of administration"
            },
            {
              value: "am22",
              text: "AM22 - Give notice of a move from administration to creditors' voluntary liquidation"
            },
            {
              value: "am22s",
              text: "AM22 (Scotland) - Give notice of move from administration to creditors’ voluntary liquidation"
            },
            {
              value: "am23",
              text: "AM23 - Give notice of move from administration to dissolution"
            },
            {
              value: "am24s",
              text: "AM24 (Scotland) - Give notice of a court order in respect of date of dissolution"
            },
            {
              value: "am25",
              text: "AM25 - Give notice of court order ending adminstration"
            },
            {
              value: "am25s",
              text: "AM25 (Scotland) - Give notice of court order ending administration"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}