{% extends "layout.html" %}
{% block pageTitle %}
  In administration forms
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-adminstration" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "am01",
              text: "AM01 - Notice of administrator's appointment"
            },
            {
              value: "am01",
              text: "AM02 - Notice of statement of affairs in administration"
            },
            {
              value: "am01",
              text: "AM03 - Notice of administrator's proposals"
            },
            {
              value: "am01",
              text: "AM04 - Notice of the extension of time to deliver administrator's proposals"
            },
            {
              value: "am01",
              text: "AM05 - Notice of extension of time to seek approval"
            },
            {
              value: "am01",
              text: "AM06 - Notice of approval of administrator's proposals"
            },
            {
              value: "am01",
              text: "AM07 - Notice of creditor's decision on administrator's proposals"
            },
            {
              value: "am01",
              text: "AM08 - Notice of revision of administrator's proposals"
            },
            {
              value: "am01",
              text: "AM09 - Notice of result of creditor's decision"
            },
            {
              value: "am01",
              text: "AM10 - Notice of administrator's progress report"
            },
            {
              value: "am01",
              text: "AM11 - Notice of appointment of replacement or additional administrator"
            },
            {
              value: "am01",
              text: "AM12 - Notice of order limiting disclosure"
            },
            {
              value: "am01",
              text: "AM13 - Notice of rescission or amendment of order limiting disclosure"
            },
            {
              value: "am01",
              text: "AM14 - Notice of an order to dispose of charged property"
            },
            {
              value: "am01",
              text: "AM15 - Notice of resignation of administrator"
            },
            {
              value: "am01",
              text: "AM16 - Notice of order removing administrator from office"
            },
            {
              value: "am01",
              text: "AM17 - Notice of vacation of office"
            },
            {
              value: "am01",
              text: "AM18 - Notice of deceased administrator"
            },
            {
              value: "am01",
              text: "AM19 - Notice of the extension of period of administration"
            },
            {
              value: "am01",
              text: "AM20 - Notice of automatic end of administration"
            },
            {
              value: "am21",
              text: "AM21 - Notice of end of administration"
            },
            {
              value: "am22",
              text: "AM22 - Notice of a move from administration to creditors' voluntary liquidation"
            },
            {
              value: "am23",
              text: "AM23 - Notice of move from administration to dissolution"
            },
            {
              value: "am24",
              text: "AM24 - Notice of a court order in respect of date of dissolution"
            },
            {
              value: "am25",
              text: "AM25 - Notice of court order ending administration"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}