{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/in-admin" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "In Administration",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "212b",
              text: "2.12B(NI) - Notice of administrator's appointment"
            },
            {
              value: "233b",
              text: "2.33B(NI) - Notice of court order ending administration"
            },
            {
              value: "212b",
              text: "2.12B - Give notice of administrators appointment"
            },
            {
              value: "233b",
              text: "2.33B - Give notice of court ending administration"
            },
            {
              value: "230b",
              text: "2.30B - Notice of automatic end of administration"
            },
            {
              value: "232b",
              text: "2.32B - Notice of end of administration"
            },
            {
              value: "234b",
              text: "2.34B - Notice of move from administration to creditors voluntary liquidation"
            },
            {
              value: "235b",
              text: "2.35B - Notice of move from administration to dissolution"
            },
            {
              value: "211bs",
              text: "2.11B(Scot) - Notice of appointment of Administrative Receiver, Receiver or Manager"
            },
            {
              value: "223bs",
              text: "2.23B(Scot) - Notice of end of administration"
            },
            {
              value: "224bs",
              text: "2.24B(Scot) - Notice of administrative receiver's report"
            },
            {
              value: "225bs",
              text: "2.25B(Scot) - Notice of move from administration to creditors' voluntary liquidation"
            },
            {
              value: "226bs",
              text: "2.26B(Scot) - Notice of move from administration to dissolution"
            },
            {
              value: "227bs",
              text: "2.27B(Scot) - Notice of court order in respect of date of dissolution"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}