{% extends "layout.html" %}
{% block pageTitle %}
  Insolvency form categories
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/insolvency" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Insolvency form categories",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "in-admin",
              text: "In adminstration",
              hint: {
               text: "AM forms"
              }
            },
            {
              value: "in-admin-two",
              text: "In administration",
              hint: {
               text: "2. forms"
              }
            },
            {
              value: "receivership-two",
              text: "Receivership",
              hint: {
               text: "3. forms"
              }
            },
            {
              value: "liquidation",
              text: "Liquidation",
              hint: {
               text: "4. forms"
              }
            },
            {
              value: "cva",
              text: "Company voluntary arrangement",
              hint: {
               text: "CVA forms"
              }
            },
            {
              value: "cvam",
              text: "Company voluntary arrangement moratorium",
              hint: {
               text: "VAM forms"
              }
            },
            {
              value: "mvl",
              text: "Members' voluntary liquidation and creditors' voluntary liquidation",
              hint: {
               text: "LR, COLIQ, 600, LIQ, VL1 and Scottish 1 and 3.5 forms "
              }
            },
            {
              value: "receivership",
              text: "Receivership",
              hint: {
               text: "REC and RM forms"
              }
            },

            {
              value: "wuc",
              text: "Winding up by the court",
              hint: {
               text: "WU, COCOMP and F14 forms"
              }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}