{% extends "layout.html" %}
{% block pageTitle %}
  Insolvency form categories
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/insolvency" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Insolvency form categories",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "in-admin",
              text: "In adminstration",
              hint: {
               text: "AM"
              }
            },
            {
              value: "cvam",
              text: "Company Voluntary Arrangement Moratorium",
              hint: {
               text: "VAM"
              }
            },
            {
              value: "mvl",
              text: "Members Voluntary Liquidation /  Creditors Voluntary Liquidation",
              hint: {
               text: "600 and LIQ"
              }
            },
            {
              value: "wuc",
              text: "Winding up by the Court",
              hint: {
               text: "WU"
              }
            },
            {
              value: "receivership",
              text: "Receivership",
              hint: {
               text: "REC and RM"
              }
            },
            {
              value: "cva",
              text: "Company Voluntary Arrangement",
              hint: {
               text: "CVA"
              }
            },
            {
              value: "in-admin-two",
              text: "In Administration",
              hint: {
               text: "2 forms"
              }
            },
            {
              value: "receivership-two",
              text: "Receivership",
              hint: {
               text: "2 forms"
              }
            },
            {
              value: "liquidation",
              text: "Liquidation",
              hint: {
               text: "3 forms"
              }
            },
            {
              value: "others",
              text: "Others",
              hint: {
               text: "LR, COCOMP, F14 "
              }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}