{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/liquidation" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Liquidation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [

          {
            value: "415a",
            text: "4.15A - Give notice of appointment of provisional liquidator"
          },
          {
            value: "426",
            text: "4.26 - Notice of final account prior to dissolution in MVL (final account attached)"
          },
          {
            value: "428",
            text: "4.28 - Notice of order deferring the date of dissolution in MVL or CVL"
          },
          {
            value: "431",
            text: "4.31 - Notice of appointment of liquidator in winding up by the court"
          },

                      {
                        value: "443",
                        text: "4.43 - Give notice of the final meeting of creditors"
                      },
            {
              value: "470",
              text: "4.70 - Declaration of solvency"
            },
            {
              value: "471",
              text: "4.71 - Give notice of final meeting in members' voluntary winding up"
            },
            {
              value: "472",
              text: "4.72 - Give notice of final meeting in creditors' voluntary winding up"
            },
            {
              value: "42s",
              text: "4.2 (Scotland) - Notice of court order in a winding up (& Court Order attachment)"
            },
            {
              value: "49s",
              text: "4.9 (Scotland) - Notice of order of appointment of provisional liquidator in a winding up by the court (& Court Order attachment)"
            },
            {
              value: "417s",
              text: "4.17 (Scotland) - Notice of final account prior to dissolution in a winding up by the court"
            },
            {
              value: "426s",
              text: "4.26 (Scotland) - Notice of court order staying or sisting proceedings in a winding up in MVL or CVL"
            },
            {
              value: "427s",
              text: "4.27 (Scotland) - Notice of court order staying or sisting proceedings in a winding up by the court"
            },
            {
              value: "428s",
              text: "4.28 (Scotland) - Notice of court order for early dissolution in a winding up by the court"
            },
            {
              value: "419ni",
              text: "4.19 (Northern Ireland) - Statement of affairs voluntary liquidation"
            },
            {
              value: "420ni",
              text: "4.20 (Northern Ireland) - Statement of affairs creditors' voluntary wind up"
            },
            {
              value: "421ni",
              text: "4.21 (Northern Ireland) - Statement of affairs"
            },
            {
              value: "444ni",
              text: "4.44 (Northern Ireland) - Notice of final meeting of creditors"
            },

                        {
                          value: "470ni",
                          text: "4.70 (Northern Ireland) - Order of court on appeal against secretary of state's decision"
                        },
            {
              value: "471ni",
              text: "4.71 (Northern Ireland) - Declaration of solvency"
            },
            {
              value: "472ni",
              text: "4.72 (Northern Ireland) - Return of final meeting in a members' voluntary winding up"
            },

            {
              value: "473ni",
              text: "4.73 (Northern Ireland) - Return of final meeting in a creditors' voluntary winding up"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}