{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/liquidation" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Liquidation</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "carcasses",
            text: "Extraordinary resolution to wind up"
          },
          {
            value: "mines",
            text: "Special resolution to wind up"
          },
          {
            value: "mines",
            text: "Deferment of dissolution"
          },
          {
            value: "mines",
            text: "Members' voluntary liquidation resolution (Northern Ireland)"
          },
          {
            value: "mines",
            text: "Creditors' voluntary liquidation resolution (Northern Ireland)"
          },

            {
              value: "600",
              text: "600 - Appoint liquidator in voluntary winding up"
            },
            {
              value: "600a",
              text: "600a - Appoint liquidator in voluntary winding up for the Gazette"
            },
            {
              value: "liq01",
              text: "LIQ01 - Give notice of statutory declaration of solvency"
            },
            {
              value: "liq02",
              text: "LIQ02 - Give notice of statement of affairs"
            },
            {
              value: "liq04",
              text: "LIQ04 (Scotland) - Give notice of order deferring the date of dissolution"
            },
            {
              value: "liq13",
              text: "LIQ13 - Give notice of final account prior to dissolution in MVL"
            },
            {
              value: "liq13",
              text: "LIQ13 (Scotland) - Final account prior to dissolution in MVL"
            },
            {
              value: "liq14",
              text: "LIQ14 - Give notice of final account prior to dissolution in CVL"
            },
            {
              value: "liq15",
              text: "LIQ15 (Scotland) - Give notice of a court order staying or sisting proceedings in a CVL or MVL winding up"
            },


          {
            value: "415a",
            text: "4.15A - Give notice of appointment of provisional liquidator"
          },
                      {
                        value: "417s",
                        text: "4.17 (Scotland) - Notice of final account prior to dissolution in a winding up by the court"
                      },
                      {
                        value: "419ni",
                        text: "4.19 (Northern Ireland) - Statement of affairs voluntary liquidation"
                      },

          {
            value: "42s",
            text: "4.2 (Scotland) - Notice of court order in a winding up (and Court Order attachment)"
          },

                      {
                        value: "420ni",
                        text: "4.20 (Northern Ireland) - Statement of affairs creditors' voluntary wind up"
                      },
                      {
                        value: "421ni",
                        text: "4.21 (Northern Ireland) - Statement of affairs"
                      },


          {
            value: "426",
            text: "4.26 - Notice of final account prior to dissolution in MVL (final account attached)"
          },
          {
            value: "426s",
            text: "4.26 (Scotland) - Notice of court order staying or sisting proceedings in a winding up in MVL or CVL"
          },
          {
            value: "427s",
            text: "4.27 (Scotland) - Notice of court order staying or sisting proceedings in a winding up by the court"
          },
          {
            value: "428",
            text: "4.28 - Notice of order deferring the date of dissolution in MVL or CVL"
          },
          {
            value: "428s",
            text: "4.28 (Scotland) - Notice of court order for early dissolution in a winding up by the court"
          },
          {
            value: "431",
            text: "4.31 - Notice of appointment of liquidator in winding up by the court"
          },

                      {
                        value: "443",
                        text: "4.43 - Give notice of the final meeting of creditors"
                      },
                      {
                        value: "444ni",
                        text: "4.44 (Northern Ireland) - Notice of final meeting of creditors"
                      },








                      {
                        value: "470",
                        text: "4.70 - Declaration of solvency"
                      },




                        {
                          value: "470ni",
                          text: "4.70 (Northern Ireland) - Order of court on appeal against secretary of state's decision"
                        },
                        {
                          value: "471",
                          text: "4.71 - Give notice of final meeting in members' voluntary winding up"
                        },
            {
              value: "471ni",
              text: "4.71 (Northern Ireland) - Declaration of solvency"
            },
            {
              value: "472",
              text: "4.72 - Give notice of final meeting in creditors' voluntary winding up"
            },

            {
              value: "472ni",
              text: "4.72 (Northern Ireland) - Return of final meeting in a members' voluntary winding up"
            },

            {
              value: "473ni",
              text: "4.73 (Northern Ireland) - Return of final meeting in a creditors' voluntary winding up"
            },
            {
              value: "49s",
              text: "4.9 (Scotland) - Notice of order of appointment of provisional liquidator in a winding up by the court (and Court Order attachment)"
            },


            {
              value: "mines",
              text: "VL1 - Notice of appointment of liquidator voluntary winding up (members or creditors)"
            },

              {
                value: "mines",
                text: "Form 1 (Scotland) - Notice of appointment of receiver"
              },
              {
                value: "mines",
                text: "Form 3.5 (Scotland) - Notice of adminstrative receiver's report"
              }

          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}