{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL) - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/mva" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "cva1",
              text: "LIQ01 - Notice of statutory declaration of solvency"
            },
            {
              value: "cva1",
              text: "LIQ02 - Notice of statement of affairs"
            },
            {
              value: "cva1",
              text: "LIQ03 - Notice of progress report in voluntary winding up"
            },
            {
              value: "cva1",
              text: "LIQ04 - 	Notice of order deferring the date of dissolution in MVL or CVL"
            },
            {
              value: "cva1",
              text: "LIQ05 - 	Notice of order limiting disclosure of statement of affairs in CVL"
            },
            {
              value: "cva1",
              text: "LIQ06 - 	Notice of liquidator's resignation in MVL or CVL"
            },
            {
              value: "cva1",
              text: "LIQ07 - 	Notice of removal of liquidator by creditors"
            },
            {
              value: "cva1",
              text: "LIQ08 - 	Notice of loss of qualification as insolvency practitioner in MVL and CVL"
            },
            {
              value: "cva1",
              text: "LIQ09 - Notice of deceased liquidator in MVL and CVL"
            },
            {
              value: "cva1",
              text: "LIQ10 - 	Notice of removal of liquidator by court in MVL and CVL"
            },
            {
              value: "cva1",
              text: "LIQ11 - 	Notice of removal of liquidator by company meeting in MVL"
            },
            {
              value: "cva1",
              text: "LIQ12 - 	Notice of release of former liquidator by secretary of state in MVL or CVL"
            },
            {
              value: "cva1",
              text: "LIQ13 - Notice of final account prior to dissolution in MVL"
            },
            {
              value: "cva1",
              text: "LIQ14 - Notice of final account prior to dissolution in CVL"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
