{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
items: [
{
text: "Form types",
href: "#"
},
{
text: "Insolvency form categories",
href: "#"
},
{
text: "Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)"
}
]
}) }}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/mvl" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "carcasses",
            text: "LRESSP - Extraordinary resolution to wind up"
          },
          {
            value: "mines",
            text: "LRESEX - Special resolution to wind up"
          },
          {
            value: "mines",
            text: "COLIQ - Deferment of dissolution"
          },


            {
              value: "600",
              text: "600 - Appoint liquidator in voluntary winding up"
            },
            {
              value: "600a",
              text: "600a - Appoint liquidator in voluntary winding up for the Gazette"
            },
            {
              value: "liq01",
              text: "LIQ01 - Give notice of statutory declaration of solvency"
            },
            {
              value: "liq02",
              text: "LIQ02 - Give notice of statement of affairs"
            },
            {
              value: "liq13",
              text: "LIQ13 - Give notice of final account prior to dissolution in MVL"
            },
            {
              value: "liq14",
              text: "LIQ14 - Give notice of final account prior to dissolution in CVL"
            },
            {
              value: "mines",
              text: "VL1 - Notice of appointment of liquidator voluntary winding up (members or creditors)"
            },
            {
              value: "liq04",
              text: "LIQ04 (Scotland) - Give notice of order deferring the date of dissolution"
            },
            {
              value: "liq13",
              text: "LIQ13 (Scotland) - Final account prior to dissolution in MVL"
            },
            {
              value: "liq15",
              text: "LIQ15 (Scotland) - Give notice of a court order staying or sisting proceedings in a CVL or MVL winding up"
            },
            {
              value: "mines",
              text: "Form 1 (Scotland) - Notice of appointment of receiver"
            },
            {
              value: "mines",
              text: "Form 3.5 (Scotland) - Notice of adminstrative receiver's report"
            },

            {
              value: "mines",
              text: "LRESM (Northern Ireland) - Members' voluntary liquidation resolution"
            },
            {
              value: "mines",
              text: "LRESC (Northern Ireland) - Creditors' voluntary liquidation resolution"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}