{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/insolvency" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Members Voluntary Liquidation /  Creditors Voluntary Liquidation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "600 - Appoint liquidator in voluntary winding up"
            },
            {
              value: "mines",
              text: "LIQ01 - Give notice of statutory declaration of solvency"
            },
            {
              value: "mines",
              text: "LIQ02 - Give notice of statement of affairs"
            },
            {
              value: "mines",
              text: "LIQ13 - Give notice of final account prior to dissolution in MVL"
            },
            {
              value: "mines",
              text: "LIQ14 - Give notice of final account prior to dissolution in CVL"
            },
            {
              value: "mines",
              text: "LIQ04(Scot) - Give notice of order deferring the date of dissolution for a Scottish company"
            },
            {
              value: "mines",
              text: "LIQ13(Scot) - Final account prior to dissolution in MVL for a Scottish company"
            },
            {
              value: "mines",
              text: "LIQ15(Scot) - Give notice of a court order staying or sisting proceedings in a CVL or MVL winding up"
            },
            {
              value: "mines",
              text: "600a - Appoint liquidator in voluntary winding up for the Gazette"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}