{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/others" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Others",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "LRESSP - Extraordinary resolution to wind up"
            },
            {
              value: "mines",
              text: "LRESEX - Special resolution to wind up"
            },
            {
              value: "mines",
              text: "COCOMP - Order of court to wind up"
            },
            {
              value: "mines",
              text: "COLIQ - Deferment of dissolution"
            },
            {
              value: "mines",
              text: "VL1 - Notice of appointment of liquidator voluntary winding-up (members or creditors)"
            },
            {
              value: "mines",
              text: "LRESM (NI)) - Members Voluntary Liquidation Resolution"
            },
            {
              value: "mines",
              text: "LRESC (NI)) - Creditors Voluntary Liquidation Resolution"
            },
            {
              value: "mines",
              text: "F14 - Notice of a winding up order"
            },
            {
              value: "mines",
              text: "Form 1 (Scot) - Notice of appointment of Administrative Receiver, Receiver or Manager"
            },
            {
              value: "mines",
              text: "Form 3.5(Scot) - Notice of adminstrative receiver's report"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}