{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Receivership - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/receivership" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "REC1 - Notice of administrative receiver's report"
            },
            {
              value: "carcasses",
              text: "REC2 - Notice of summary of receipts and payments"
            },
            {
              value: "mines",
              text: "REC3 - Notice of order of disposal of charged property"
            },
            {
              value: "mines",
              text: "REC4 - Notice of statement of affairs in administrative receivership"
            },
            {
              value: "mines",
              text: "REC5 - Notice of deceased administrative receiver"
            },
            {
              value: "mines",
              text: "RM01 - Notice of appointment of receiver or manager"
            },
            {
              value: "mines",
              text: "RM02 - Notice of ceasing to act as receiver or manager"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
