{% extends "layout.html" %}
{% block pageTitle %}
  Receivership
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
items: [
{
text: "Form types",
href: "#"
},
{
text: "Insolvency form categories",
href: "#"
},
{
text: "Receivership"
}
]
}) }}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/receivership-three" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Receivership",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "3.10 - Administrative receiver's report"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}