{% extends "layout.html" %}
{% block pageTitle %}
  Receivership forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/receivership" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "REC1 - Notice of administrative receiver's report"
            },
            {
              value: "carcasses",
              text: "REC1(Scot) - Notice of administrative receiver's report"
            },
            {
              value: "carcasses",
              text: "REC2 - Give notice of summary of receipts and payments"
            },
            {
              value: "mines",
              text: "REC3 - Give notice of order of disposal of charged property"
            },
            {
              value: "mines",
              text: "REC3(Scot) - Notice of authorisation to dispose of secured property"
            },
            {
              value: "mines",
              text: "REC4 - Give notice of statement of affairs in administrative receivership"
            },
            {
              value: "mines",
              text: "REC5 - Give notice of deceased administrative receiver"
            },
            {
              value: "mines",
              text: "REC5(Scot) - Notice of deceased administrative receiver"
            },
            {
              value: "mines",
              text: "RECSOA(Scot) - Statement of affairs"
            },
            {
              value: "mines",
              text: "RM01(Scot) - Notice of appointment of Administrative Receiver, Receiver or Manager"
            },
            {
              value: "mines",
              text: "RM02 - Notice of ceasing to act as receiver or manager"
            }
          ]
        }) }}
      <p class="govuk-body govuk-!-font-weight-bold">I confirm I am authorised to send this document for filing.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
