{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  Select a document - Winding up by the court - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Winding up by the court</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "WU01 - Notice of court order in a winding up",
            text: "WU01 - Notice of court order in a winding up"
          },
            {
              value: "WU02 - Notice of order of appointment of provisional liquidator",
              text: "WU02 - Notice of order of appointment of provisional liquidator"
            },
            {
              value: "WU03 - Notice of termination of appointment of provisional liquidator",
              text: "WU03 - Notice of termination of appointment of provisional liquidator"
            },
            {
              value: "WU04 - Notice of the appointment of liquidator in a winding up by the court",
              text: "WU04 - Notice of the appointment of liquidator in a winding up by the court"
            },
            {
              value: "WU07 - Notice of a progress report in a winding up by the court",
              text: "WU07 - Notice of a progress report in a winding up by the court"
            },
            {
              value: "WU13 - Notice of order of court on appeal against decision",
              text: "WU13 - Notice of order of court on appeal against decision"
            },
            {
              value: "WU14 - Notice of an order for removal of liquidator",
              text: "WU14 - Notice of an order for removal of liquidator"
            },
            {
              value: "WU15 - Notice of the final account prior to dissolution",
              text: "WU15 - Notice of the final account prior to dissolution"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}