{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../../types-of-accounts"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              text: "Winding up by the Court",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "WU01(Scot) - Give notice of a court order in a winding up for a Scottish company"
            },
            {
              value: "mines",
              text: "WU02(Scot) - Give notice of order of appointment of a provisional liquidator for a Scottish company"
            },
            {
              value: "mines",
              text: "WU15(Scot) - Give notice of the final account prior to the disolution of a Scottish company"
            },
            {
              value: "mines",
              text: "WU16(Scot) - Early dissolution of a Scottish company in a winding up by the court"
            },
            {
              value: "mines",
              text: "WU01 - Notice of court order in a winding up"
            },
            {
              value: "mines",
              text: "WU02 - Give notice of order of appointment of provisional liquidator"
            },
            {
              value: "mines",
              text: "WU04 - Give notice of the appointment of liquidator in a winding-up by the court"
            },
            {
              value: "mines",
              text: "WU15 - Give notice of the final account prior to dissolution"
            },
            {
              value: "mines",
              text: "WU17(Scot) - Defer the dissolution of a Scottish company in a winding up by the court"
            },
            {
              value: "mines",
              text: "WU18(Scot) - Give notice of a court order staying or sisting proceedings in a winding up order by the court"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}