{% extends "layout-gov.html" %}
{% block pageTitle %}
  Apply for a registration of a limited partnership (LP5) - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "#"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Form</span>
      <h1 class="govuk-heading-l">Apply for a registration of a limited partnership (LP5)</h1>
      <p class="govuk-body-l">Use this form as an application for registration of a limited partnership. It costs £20 to file this form.</p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s govuk-!-margin-bottom-1">
        Published 1 June 2009
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-1">
        Last updated 6 April 2017 -
        <a href="#" class="govuk-link">see all updates</a>
      </p>
      <p class="govuk-body-s">From:
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-top-4">Documents</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-auto-width">
          <img class="preview-image" src="/public/images/thumbnail_LP5_.pdf.png"/>
        </div>
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m govuk-!-font-weight-regular">
            <a href="../public/pdf/LP5.pdf" class="govuk-link" target="_blank">LP5 Application for registration of a limited partnership</a>
          </h2>
          <p class="govuk-body govuk-body-s">
            PDF, 35.1KB, 3 pages
          </p>
        </div>
      </div>
      <h3 class=" govuk-heading-m govuk-!-margin-top-8">Details</h3>
      <p class="govuk-body">You must pay the £20 fee online before you upload and submit this document.</p>

      <div class="govuk-inset-text">
        You can continue to use form LP5 to register a limited partnership in Scotland until 24 July 2017
      </div>
      <div class="gem-c-govspeak">
        <div class="call-to-action">
          <p>To apply for registration of a limited partnership which is to be designated as a private fund limited partnership, use form LP7</p>
        </div>
      </div>
      <h3 class="govuk-heading-m">How to submit this document online during the coronavirus (COVID-19) outbreak</h3>
      <h4 class="govuk-heading-s">1. Download and complete the document</h4>
      <p>
        Save the document to the device you're using after you have completed it.
      </p>
      <h4 class="govuk-heading-s">2. Pay for the document</h4>
      <p>
        <a href="" target="_blank" rel="noopener noreferrer" class="govuk-link">Pay the £20 fee for your LP5 application online</a>
        using GOV.UK Pay (opens in a new tab or window).
      </p>
      <h4 class="govuk-heading-s">3. Make a note of your payment reference number</h4>
      <p>This will be shown on the confirmation screen and confirmation email after you have paid the fee. You will need this to upload your document.</p>
      <h4 class="govuk-heading-s">4. Upload the document</h4>
      <p>
        <p>Use the <a href="/" class="govuk-link">Upload a document to Companies House</a> service to send us your document online.</p>

      <div class="gem-c-govspeak">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
        <p class="govuk-body-s govuk-!-margin-bottom-1">
          Published 1 June 2009
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-1">
          Last updated 6 April 2017 -
          <a href="#" class="govuk-link">see all updates</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 govuk-!-margin-top-8 blue-line">
        <h4 class="govuk-heading-s">Explore the topic</h4>
        <a href="#" class="govuk-link govuk-!-font-weight-bold">Business and industry</a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s border-top govuk-!-padding-top-3">
        Related content
      </h4>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="#" class="govuk-link">Register a limited partnership</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Register a limited liability partnership (LL IN01)</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Limited liability partnership incorporation and names</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Companies House forms for limited partnerships</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Specify the nature of a change in the limited partnership (LP6)</a>
        </li>
      </ul>
      <h4 class="govuk-heading-s">
        Collection
      </h4>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="#" class="govuk-link">Companies House forms for limited partnerships</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
