{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Reduction of capital documents - Upload a document to Companies House - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/shares/shares-sh19" method="post">
        {{ govukRadios({
          idPrefix: "SH-sh19",
          name: "SH-sh19",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Reduction of capital documents</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "Resolution - To form part of a reduction of capital submission",
            text: "Resolution - Approving a share capital reduction"
          },
          {
            value: "Statement by directors",
            text: "Statement by directors"
          },
          {
            value: "Solvency statement",
            text: "Solvency statement"
          },
          {
            value: "SH19 - Statement of capital when reducing capital in a company",
            text: "SH19 - Statement of capital when reducing capital in a company"
          }
          ]
        }) }}
  <p class="govuk-body">You can only upload one document at a time.</p>
      <p class="govuk-body">If you need associated reduction of capital documents to be processed together, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>upload the supporting documents first, one at a time (the resolution, solvency statement and statement by directors if required)</li>
          <li>upload the SH19 form last, after you have uploaded the supporting documents</li>

        </ul>
          <p class="govuk-body">You should upload each document as soon as possible after the previous document was uploaded.</p>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
