{% extends "layout.html" %}
{% block pageTitle %}
  Share capital forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/slp/scottish-limited-partnership" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Share capital</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "cva1",
            text: "Solvency statement"
          },
          {
            value: "cva1",
            text: "SH03 - Notify a purchase of own shares"
          },
          {
            value: "cva1",
            text: "SH04 - Notify a sale or transfer of treasury shares"
          },
          {
            value: "cva1",
            text: "SH05 - Notify a cancellation of treasury shares"
          },
          {
            value: "cva1",
            text: "SH14 - Notify a redenomination of shares"
          },
          {
            value: "cva1",
            text: "SH15 - Notify a reduction of capital following redenomination"
          },
          {
            value: "cva1",
            text: "SH16 - Give notice of application to court to cancel special resolution"
          },
          {
            value: "cva1",
            text: "SH17 - Give notice by the company of application to cancel special resolution"
          },
          {
            value: "cva1",
            text: "SH19 - Statement of capital when reducing capital in a company"
          },
          {
            value: "cva1",
            text: "SH20 - Statement of directors in respect of the solvency statement made in accordance with section 643"
          },
          {
            value: "cva1",
            text: "SH30"
          }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
