{% extends "layout.html" %}
{% block pageTitle %}
  Share capital forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/shares/shares-sh19" method="post">
        {{ govukRadios({
          idPrefix: "SH-sh19",
          name: "SH-sh19",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Reduction of capital documents</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "SH19 - Statement of capital when reducing capital in a company",
            text: "SH19 - Statement of capital when reducing capital in a company"
          },
          {
            value: "Resolution - To form part of a reduction of capital submission",
            text: "Resolution - To form part of a reduction of capital submission"
          },
          {
            value: "Solvency statement",
            text: "Solvency statement"
          },
          {
            value: "Statement by directors",
            text: "Statement by directors"
          }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
