{% extends "layout.html" %}
{% block pageTitle %}
  Share capital forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Share capital</span>
<h2 class="govuk-heading-l">What type of document are you uploading?</h2>

    <form action="/types-of-forms/shares/shares" method="post">
    {{ govukInsetText({
      text: "If you are uploading a resolution, you must select the relevant category the resolution is related to. Otherwise, it may be rejected."
    }) }}

    {{ govukRadios({
  idPrefix: "SH",
  name: "SH",
  fieldset: {
    legend: {
      text: ""
    }
  },
  items: [
    {
      value: "shares-sh19",
      text: "Reduction of capital documents",
      hint: {
        text: "Form SH19, statement by directors, solvency statement and resolution"
      }
    },
    {
      value: "shares-other",
      text: "Other share capital documents",
      hint: {
        text: "Form SH02, SH04, SH05, SH06, SH07, SH08, SH09, SH10, SH11, SH12, SH13, SH14, SH15, SH16, SH17 and resolution"
      }
    }
  ]
}) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
