{% extends "layout.html" %}
{% block pageTitle %}
  Scottish qualifying partnership forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/sqp/sqp-forms" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Scottish qualifying partnership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "SQP2 - Give notice of a change of details for a Scottish qualifying partnership"
            },

            {
              value: "vam1",
              text: "SQP3 - Give notice of ceasing to be a Scottish qualifying partnership"
            },
            {
              value: "vam1s",
              text: "SQP PSC01 - Give notice of individual person with significant control of a Scottish qualifying partnership"
            },
            {
              value: "vam7",
              text: "SQP PSC02 - Give notice of relevant legal entity with significant control of a Scottish qualifying partnership"
            },

            {
              value: "vam7s",
              text: "SQP PSC03 - Give notice of other registrable person with significant control of a Scottish qualifying partnership"
            },
            {
              value: "vam8s",
              text: "SQP PSC04 - Give notice to change details of a person with significant control of a Scottish qualifying partnership"
            },
            {
              value: "vam8s",
              text: "SQP PSC05 - Give details of relevant legal entity with significant control of a Scottish qualifying partnership"
            },
            {
              value: "vam8s",
              text: "SQP PSC06 - Give notice changing details of other person with significant control of a Scottish qualifying partnership"
            },
            {
              value: "vam8s",
              text: "SQP PSC07 - Give notice of ceasing to be a PSC, RLE or ORP of a Scottish Qualifying Partnership"
            },
            {
              value: "vam8s",
              text: "SQP PSC08 - Give notice of PSC statements for a Scottish qualifying partnership"
            },
            {
              value: "vam8s",
              text: "SQP PSC09 - Give notice of update to PSC statements for a Scottish qualifying partnership"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}