{% extends "layout.html" %}
{% block pageTitle %}
  Insolvency guidance - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index.html"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">Guidance</span>
<h1 class="govuk-heading-xl">Upload a document to Companies House: insolvency</h1>
      <p class="govuk-body-l">How to file insolvency documents online that would usually be sent to us in a paper format.
      </p>
      {{ govukInsetText({
        text: "This insolvency guidance has been created for the Upload a document to Companies House service to enable paperless filing in response to the coronavirus (COVID-19) outbreak.
"
      }) }}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-3">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Published 8 April 2020</p>
      <p class="govuk-body-s">From:
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>
          <a class="govuk-link govuk-body-s" href="">How to access this service to upload insolvency documents</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Insolvency documents you can upload</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">How to prepare the document</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">What happens next</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contact us</a>
        </li>
      </ul>
        <h2 class="govuk-heading-l">How to access this service to upload insolvency documents</h2>
        <p class="govuk-body">To use this service to upload an insolvency document, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be a registered insolvency practitioner (IP) or the Official Receiver</li>
          <li>have your email address in the Insolvency Practitioner (IP) Directory held by the Insolvency Service</li>
              </ul>
          <p class="govuk-body">You should contact the Insolvency Service if you’re an IP who needs to upload an insolvency document and:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your email address is not in the IP Directory</li>
            <li>you’re not sure if your email address is in the IP Directory</li>
            <li>you need to update your email address in the IP Directory</li>
                </ul>
                {{ govukInsetText({
                  text: "For now, if you are a receiver or manager and you are not a registered IP, you will not be able to use this service to file insolvency documents."
                }) }}
          <p class="govuk-body">If you contact the Insolvency Service to add or update your email address, ask them to let Companies House know when your details have been amended. We can then give you access to upload an insolvency document using the service.</p>
                </ul>
          <p class="govuk-body">If you have contacted the Insolvency Service to give them your email address and you are still unable to upload insolvency documents in the service, <a class="#" href="static/guidance">contact Companies House</a>.</p>

        <h2 class="govuk-heading-l">Insolvency documents you can upload</h2>
          <p class="govuk-body">Most insolvency documents can be uploaded using this service, including:</p>
          <p class='govuk-body'>
            <a href='https://www.gov.uk/government/collections/companies-house-moratorium-forms'>Companies House moratorium forms</a>
          </p>
          <p class='govuk-body'>
            <a href='https://www.gov.uk/government/collections/companies-house-forms-for-insolvency-rules-2016'>Companies House forms for Insolvency Rules 2016</a>
          </p>
          <p class='govuk-body'>
            <a href='https://www.gov.uk/government/collections/companies-house-forms-for-insolvency'>Companies House forms for insolvency (1986)</a>
          </p>
          <p class='govuk-body'>
            <a href='https://www.gov.uk/government/collections/companies-house-forms-for-insolvency-scotland'>Companies House forms for insolvency (Scotland)</a>
          </p>
          <p class="govuk-body">Insolvency practitioners can also upload <a class="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01" href="static/guidance">form AD01</a> using this service.</p>
          <h2 class="govuk-heading-l">How to prepare the document</h2>
          <p class="govuk-body">You must complete the document in advance. Save it to the device you are using in a PDF format so that it is ready to upload. The file must be less than 4MB.</p>
          {{ govukInsetText({
            text: "If you use a third party tool to compress your document, this may affect the quality of the document when it is uploaded. We may have to reject your document if the image quality is poor."
          }) }}
        <p class="govuk-body">You can only upload one document at a time. If you need to upload more than one document, for example as part of a package, you must start a new transaction for each document you upload.</p>
        <h3 class="govuk-heading-m">Companies House forms</h3>
        <h4 class="govuk-heading-s">You can complete the form electronically:</h4>
        <ol class="govuk-list govuk-list--number">
          <li>
            <a href="https://www.gov.uk/topic/company-registration-filing/forms" class="govuk-link">Find the Companies House form</a>
            that you need and download it.</li>
          <li>Type the information directly onto the form.</li>
          <li>Save the form to the device you are using so that it is ready to upload.</li>
        </ol>
        <h4 class="govuk-heading-s">You can complete the form using a pen:</h4>
        <ul class="govuk-list govuk-list--number">
          <li>Print the form.</li>
          <li>Fill in the information directly onto the form using black ink.</li>
          <li>Scan the completed form.</li>
          <li>Save the scanned form to the device you are using so that it is ready to upload.</li>
        </ul>
        <h3 class="govuk-heading-m">Signatures</h3>
        <p class="govuk-body">We can accept signatures that are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>digitally generated</li>
          <li>typed directly into the form</li>
          <li>scanned onto the form</li>
          <li>hand-written in black ink</li>
        </ul>
    <h3 class="govuk-heading-m">Cover letters</h3>
    <p class="govuk-body">For now, you cannot upload cover letters in this service. You must upload the document only.</p>
    <h3 class="govuk-heading-m">Continuation pages</h3>
    <p class="govuk-body">If you need to include continuation pages with your submission, you must merge the document and the continuation pages first. This enables you to upload them as one document.</p>
    </ul>
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    Help with merging a document and continuation pages
    </span>
    </summary>
    <div class="govuk-details__text">

    <p class="govuk-body">To merge a document with continuation pages, you could:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>use an online tool or app that merges PDF documents</li>
    <li>create a new document and combine saved files into a single PDF</li>
    <li>scan documents together if you have access to a printer or photocopier, and save the scan as a single PDF</li>
    </ul>
    </div>
    </details>


  </ul>
  <h2 class="govuk-heading-l">How to upload documents usually filed together</h2>
  <p class="govuk-body">For now, you can only upload one document at a time in this service.</p>
  <p class="govuk-body">If you need to upload a package of documents that you would usually file together, you must upload each document separately. This means you must start the service again for each document you need to upload. You can either restart the service or use the link on the confirmation page after you've uploaded a document.</p>
  <p class="govuk-body">You should do this as soon as possible after you’ve uploaded the previous document so that associated documents can be processed together.</p>

  <h3 class="govuk-heading-m">Documents that need to be merged</h3>
  <p class="govuk-body">The following insolvency documents need to be merged first and then uploaded as one PDF document:</p>

  <p class="govuk-body govuk-!-font-weight-bold">2.14B and 2.16B forms</p>
    <p class="govuk-body">Merge the documents with form 2.16B at the front, followed by form 2.14B.</p>

  <p class="govuk-body govuk-!-font-weight-bold">3.04, 3.05 and 3.12 forms</p>
    <p class="govuk-body">To upload form 3.05 with form 3.04:<br>
Merge the documents with form 3.05 at the front, followed by form 3.04.</p>

  <p class="govuk-body">To upload form 3.12 with form 3.05:<br>
Merge the documents with form 3.12 at the front, followed by form 3.05.</p>
<p class="govuk-body">To upload form 3.12 with form 3.05 and form 3.04:<br>
Merge the documents with form 3.12 at the front, followed by form 3.05, then form 3.04.</p>
<p class="govuk-body govuk-!-font-weight-bold">4.19, 4.20 and 4.21 forms</p>
  <p class="govuk-body">Merge the documents with form 4.21 at the front, followed by form 4.19, then form 4.20.
</p>
</ul>
<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Help with merging documents
</span>
</summary>
<div class="govuk-details__text">

<p class="govuk-body">To merge documents, you could:</p>
<ul class="govuk-list govuk-list--bullet">
<li>use an online tool or app that merges PDF documents</li>
<li>create a new document and combine saved files into a single PDF</li>
<li>scan documents together if you have access to a printer or photocopier, and save the scan as a single PDF</li>
</ul>
</div>
</details>
</ul>
            <h2 class="govuk-heading-l">What happens next</h2>
        <p class="govuk-body">We’ll send you a confirmation email to let you know if your document has been uploaded. An examiner will then process the uploaded document to check if it's acceptable for filing.</p>
        <p class="govuk-body">If your document is acceptable for filing, we’ll email you to let you know. The document will be registered with the date it was uploaded to Companies House. This means your document is registered sooner than if you sent it by post.</p>
        <p class="govuk-body">If your document is not acceptable for filing, we’ll email you to let you know what to do next.</p>
        <h2 class="govuk-heading-l">Contact us</h2>
        <p class="govuk-body">If you have a question about your submission, you can contact us.</p>
        <h3 class="govuk-heading-s">Telephone</h3>
        <ul class="govuk-list">
          <li>0303 1234 500</li>
          <li>Monday to Friday, 8:30am to 6pm</li>
        </ul>
        <p class="govuk-body">
          <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </p>
        <h3 class="govuk-heading-s">Email</h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
          </li>
        </ul>
    </div>
  </div>
{% endblock %}
