{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Committees - Upload a document to Companies House - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Committees</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "COM1 (Scot) - Notice of establishment of creditors’ committee (administration)",
              text: "COM1 (Scot) - Notice of establishment of creditors’ committee (administration)"
            },
            {
              value: "COM2 (Scot) - Notice of change of membership of a creditors’ committee (administration)",
              text: "COM2 (Scot) - Notice of change of membership of a creditors’ committee (administration)"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}