{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Company voluntary arrangement - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Company voluntary arrangement</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "CVA1 (Scot) - Notice of voluntary arrangement taking effect",
              text: "CVA1 (Scot) - Notice of voluntary arrangement taking effect"
            },
            {
              value: "CVA2 (Scot) - Notice of an order of revocation or suspension of voluntary arrangement",
              text: "CVA2 (Scot) - Notice of an order of revocation or suspension of voluntary arrangement"
            },
            {
              value: "CVA3 (Scot) - Notice of a supervisor's progress report in voluntary arrangement",
              text: "CVA3 (Scot) - Notice of a supervisor's progress report in voluntary arrangement"
            },
            {
              value: "CVA4 (Scot) - Terminate or fully implement voluntary arrangement",
              text: "CVA4 (Scot) - Terminate or fully implement voluntary arrangement"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}