{% extends "layout.html" %}
{% block pageTitle %}
  Company voluntary arrangement moratorium forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Company voluntary arrangement moratorium</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "mines",
              text: "VAM1 (Scot) - Notice of the commencement of moratorium"
            },
            {
              value: "mines",
              text: "VAM2 (Scot) - Notice of continuation of moratorium"
            },
            {
              value: "mines",
              text: "VAM3 (Scot) - Notice of decision extending or further extending moratorium"
            },
            {
              value: "mines",
              text: "VAM4 (Scot) - Notice of a court order in relation to a moratorium"
            },
            {
              value: "mines",
              text: "VAM5 (Scot) - Withdrawal of nominee's consent to act"
            },
            {
              value: "mines",
              text: "VAM6 (Scot) - Appoint a replacement nominee"
            },
            {
              value: "mines",
              text: "VAM7 (Scot) - Notice of the end of moratorium"
            },
            {
              value: "mines",
              text: "VAM8 (Scot) - Notice of disposal of charged property during a moratorium"
            },
            {
              value: "mines",
              text: "VAMC (Scot) - Notice of a court order in respect of a voluntary arrangement or moratorium"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}