{% extends "layout.html" %}
{% block pageTitle %}
  In administration forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "mines",
              text: "AM01 (Scot) - Notice of administrator's appointment"
            },
            {
              value: "mines",
              text: "AM02 (Scot) - Notice of statement of affairs in administration"
            },
            {
              value: "mines",
              text: "AM03 (Scot) - Notice of administrator's proposals"
            },
            {
              value: "mines",
              text: "AM04 (Scot) - Notice of the extension of time to deliver administrator's proposals"
            },
            {
              value: "mines",
              text: "AM05 (Scot) - Notice of extension of time to seek approval"
            },
            {
              value: "mines",
              text: "AM06 (Scot) - Notice of approval of administrator's proposals"
            },
            {
              value: "mines",
              text: "AM07 (Scot) - Notice of creditor's decision on administrator's proposals"
            },
            {
              value: "mines",
              text: "AM08 (Scot) - Notice of revision of administrator's proposals"
            },
            {
              value: "mines",
              text: "AM09 (Scot) - Notice of result of a creditor's decision"
            },
            {
              value: "mines",
              text: "AM10 (Scot) - Notice of administrator's progress report"
            },
            {
              value: "mines",
              text: "AM11 (Scot) - Appoint a replacement or additional administrator"
            },
            {
              value: "mines",
              text: "AM12 (Scot) - Notice of order limiting disclosure"
            },
            {
              value: "mines",
              text: "AM13 (Scot) - Rescission or amendment of order limiting disclosure"
            },
            {
              value: "mines",
              text: "AM14 (Scot) - Notice of an order to dispose of charged property"
            },
            {
              value: "mines",
              text: "AM15 (Scot) - Resignation of administrator"
            },
            {
              value: "mines",
              text: "AM16 (Scot) - Notice of order removing administrator from office"
            },
            {
              value: "mines",
              text: "AM17 (Scot) - Notice of vacation of office"
            },
            {
              value: "mines",
              text: "AM18 (Scot) - Notice of a deceased administrator"
            },
            {
              value: "mines",
              text: "AM19 (Scot) - Extend the period of administration"
            },
            {
              value: "mines",
              text: "AM20 (Scot) - Notice of automatic end of administration"
            },
            {
              value: "mines",
              text: "AM21 (Scot) - Notice of end of administration"
            },
            {
              value: "mines",
              text: "AM22 (Scot) - Move a Scottish company from administration to creditors' voluntary liquidation"
            },
            {
              value: "mines",
              text: "AM23 (Scot) - Move a Scottish company from administration to dissolution"
            },
            {
              value: "mines",
              text: "AM24 (Scot) - Notice of a court order in respect of date of dissolution"
            },
            {
              value: "mines",
              text: "AM25 (Scot) - Notice of court order ending administration"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}