{% extends "layout.html" %}
{% block pageTitle %}
  Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL) forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>In administration</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "mines",
              text: "AM01 (Scotland) - Notice of administrator's appointment"
            },
            {
              value: "mines",
              text: "AM02 (Scotland) - Notice of statement of affairs in administration"
            },
            {
              value: "mines",
              text: "AM03 (Scotland) - Notice of administrator's proposals"
            },
            {
              value: "mines",
              text: "AM04 (Scotland) - Notice of the extension of time to deliver administrator's proposals"
            },
            {
              value: "mines",
              text: "AM05 (Scotland) - Notice of extension of time to seek approval"
            },
            {
              value: "mines",
              text: "AM06 (Scotland) - Notice of approval of administrator's proposals"
            },
            {
              value: "mines",
              text: "AM07 (Scotland) - Notice of creditor's decision on administrator's proposals"
            },
            {
              value: "mines",
              text: "AM08 (Scotland) - Notice of revision of administrator's proposals"
            },
            {
              value: "mines",
              text: "AM09 (Scotland) - Notice of result of a creditor's decision"
            },
            {
              value: "mines",
              text: "AM10 (Scotland) - Notice of administrator's progress report"
            },
            {
              value: "mines",
              text: "AM11 (Scotland) - Appoint a replacement or additional administrator"
            },
            {
              value: "mines",
              text: "AM12 (Scotland) - Notice of order limiting disclosure"
            },
            {
              value: "mines",
              text: "AM13 (Scotland) - Rescission or amendment of order limiting disclosure"
            },
            {
              value: "mines",
              text: "AM14 (Scotland) - Notice of an order to dispose of charged property"
            },
            {
              value: "mines",
              text: "AM15 (Scotland) - Resignation of administrator"
            },
            {
              value: "mines",
              text: "AM16 (Scotland) - Notice of order removing administrator from office"
            },
            {
              value: "mines",
              text: "AM17 (Scotland) - Notice of vacation of office"
            },
            {
              value: "mines",
              text: "AM18 (Scotland) - Notice of a deceased administrator"
            },
            {
              value: "mines",
              text: "AM19 (Scotland) - Extend the period of administration"
            },
            {
              value: "mines",
              text: "AM20 (Scotland) - Notice of automatic end of administration"
            },
            {
              value: "mines",
              text: "AM21 (Scotland) - Notice of end of administration"
            },
            {
              value: "mines",
              text: "AM22 (Scotland) - Move a Scottish company from administration to creditors' voluntary liquidation"
            },
            {
              value: "mines",
              text: "AM23 (Scotland) - Move a Scottish company from administration to dissolution"
            },
            {
              value: "mines",
              text: "AM24 (Scotland) - Notice of a court order in respect of date of dissolution"
            },
            {
              value: "mines",
              text: "AM25 (Scotland) - Notice of court order ending administration"
            },
            {
              value: "am01",
              text: "AM02SOA (Scotland) - Statement of affairs"
            },
            {
              value: "am01",
              text: "AM02SOC (Scotland) - Statement of concurrence"
            },
            {
              value: "am01",
              text: "AM12SOA (Scotland) - Statement of affairs"
            },
            {
              value: "am01",
              text: "AM12SOC (Scotland) - Statement of concurrence"
            },
            {
              value: "am01",
              text: "AM13SOA (Scotland) - Statement of affairs"
            },
            {
              value: "am01",
              text: "AM13SOC (Scotland) - Statement of concurrence"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
