{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  What type of document are you uploading? - Insolvency (Scotland Rules 2018) - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency-scot/insolvency" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Insolvency (Scotland Rules 2018)</span>
What type of document are you uploading?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "In administration",
            text: "In administration"
          },
          {
            value: "Committees",
            text: "Committees"
          },
            {
              value: "Company voluntary arrangement",
              text: "Company voluntary arrangement"
            },
            {
              value: "Company voluntary arrangement moratorium",
              text: "Company voluntary arrangement moratorium"
            },
            {
              value: "Exempting property",
              text: "Exempting property"
            },
            {
              value: "Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)",
              text: "Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)"
            },
            {
              value: "Receivership",
              text: "Receivership"
            },
            {
              value: "Winding up by the court",
              text: "Winding up by the court"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}