{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading? - Insolvency (Scotland Rules 2018) - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency-scot/insolvency" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolveS",
          name: "typeInsolveS",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Insolvency (Scotland Rules 2018)</span>
What type of document are you uploading?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "in-admin",
            text: "In administration"
          },
          {
            value: "committees",
            text: "Committees"
          },
            {
              value: "cva",
              text: "Company voluntary arrangement"
            },
            {
              value: "cvam",
              text: "Company voluntary arrangement moratorium"
            },
            {
              value: "exempting",
              text: "Exempting property"
            },
            {
              value: "mvl",
              text: "Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)"
            },
            {
              value: "receivership",
              text: "Receivership"
            },
            {
              value: "wuc",
              text: "Winding up by the court"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
