{% extends "layout.html" %}
{% block pageTitle %}
  Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL) forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Members' voluntary liquidation (MVL) and creditors' voluntary liquidation (CVL)</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "mines",
              text: "LIQ04 (Scot) - Notice of order deferring the date of dissolution"
            },
            {
              value: "mines",
              text: "LIQ13 (Scot) - Final account prior to dissolution in MVL"
            },
            {
              value: "mines",
              text: "LIQ14 (Scot) - Final account prior to dissolution in CVL"
            },
            {
              value: "mines",
              text: "LIQ15 (Scot) - Notice of a court order staying or sisting proceedings in a CVL or MVL winding up"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
