{% extends "layout.html" %}
{% block pageTitle %}
  Receivership forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "mines",
              text: "REC1 (Scotland) - Give notice of receiver's report for a Scottish company"
            },
            {
              value: "mines",
              text: "REC3 (Scotland) - Give notice of authorisation to dispose of secured property in receivership"
            },
            {
              value: "mines",
              text: "REC5 (Scotland) - Give notice of a deceased receiver for a Scottish company"
            },
            {
              value: "mines",
              text: "RM01 (Scotland) - Give notice of appointment of a receiver for a Scottish company"
            },
            {
              value: "mines",
              text: "RM02 (Scotland) - Give notice of ceasing to act as a receiver for a Scottish company"
            }
          ]
        }) }}
        <p class="govuk-body govuk-!-font-weight-bold">I confirm I am authorised to send this document for filing.</p>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
