{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  Select a document - Receivership - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Receivership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "mines",
              text: "REC1 (Scot) - Notice of receiver's report"
            },
            {
              value: "mines",
              text: "REC3 (Scot) - Notice of authorisation to dispose of secured property in receivership"
            },
            {
              value: "mines",
              text: "REC5 (Scot) - Notice of a deceased receiver"
            },
            {
              value: "mines",
              text: "RECSOA (Scot) - Statement of affairs"
            },
            {
              value: "mines",
              text: "RM01 (Scot) - Notice of appointment of a receiver"
            },
            {
              value: "mines",
              text: "RM02 (Scot) - Notice of ceasing to act as a receiver"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}