{% extends "layout.html" %}
{% block pageTitle %}
  Winding up by the court forms
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Winding up by the court</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "mines",
              text: "WU01 (Scot) -  Give notice of a court order in a winding up for a Scottish company"
            },
            {
              value: "mines",
              text: "WU02 (Scotland) - Give notice of order of appointment of a provisional liquidator"
            },
            {
              value: "mines",
              text: "WU03 (Scot) - Give notice of termination of appointment of provisional liquidator for a Scottish company"
            },
            {
              value: "mines",
              text: "WU15 (Scotland) - Give notice of the final account prior to the disolution"
            },
            {
              value: "mines",
              text: "WU16 (Scotland) - Early dissolution of a Scottish company in a winding up by the court"
            },
            {
              value: "mines",
              text: "WU17 (Scotland) - Defer the dissolution of a Scottish company in a winding up by the court"
            },
            {
              value: "mines",
              text: "WU18 (Scotland) - Give notice of a court order staying or sisting proceedings in a winding up order by the court"
            }
          ]
        }) }}
        <p class="govuk-body">I confirm I am authorised to send this document for filing.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}