{% extends "layout.html" %}
{% block pageTitle %}
  Select a document - Winding up by the court - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/insolvency/wuc" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Winding up by the court</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "WU01 (Scot) -  Notice of a court order in a winding up",
              text: "WU01 (Scot) -  Notice of a court order in a winding up"
            },
            {
              value: "WU02 (Scot) - Notice of order of appointment of a provisional liquidator",
              text: "WU02 (Scot) - Notice of order of appointment of a provisional liquidator"
            },
            {
              value: "WU03 (Scot) - Notice of termination of appointment of provisional liquidator",
              text: "WU03 (Scot) - Notice of termination of appointment of provisional liquidator"
            },
            {
              value: "WU15 (Scot) - Notice of the final account prior to the dissolution",
              text: "WU15 (Scot) - Notice of the final account prior to the dissolution"
            },
            {
              value: "WU16 (Scot) - Early dissolution of a Scottish company in a winding up by the court",
              text: "WU16 (Scot) - Early dissolution of a Scottish company in a winding up by the court"
            },
            {
              value: "WU17 (Scot) - Defer the dissolution of a Scottish company in a winding up by the court",
              text: "WU17 (Scot) - Defer the dissolution of a Scottish company in a winding up by the court"
            },
            {
              value: "WU18 (Scot) - Notice of a court order staying or sisting proceedings in a winding up order by the court",
              text: "WU18 (Scot) - Notice of a court order staying or sisting proceedings in a winding up order by the court"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}