{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../insolvency"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/overseas/overseas" method="post">
        {{ govukRadios({
          idPrefix: "reg",
          name: "reg",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Overseas Companies Regulations 2009</span>
              Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "mines",
              text: "OS DS02 - 	Termination of overseas company insolvency proceedings"
            },
            {
              value: "mines",
              text: "OS LQ01 - 	Appointment of liquidator of overseas company"
            },
            {
              value: "mines",
              text: "OS LQ02 - 	Insolvency proceedings against overseas company"
            },
            {
              value: "mines",
              text: "OS LQ03 - 	Notice of winding up of an overseas company"
            },
            {
              value: "mines",
              text: "OS LQ04 - 	Cessation of overseas company subject to insolvency proceedings"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "../../auth-screen"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}