{% extends "emails/layout-email.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Your reference number is Y2345678" %}
      {{ govukPanel({
        titleText: "Document accepted",
        html: buttonHref
      }) }}
      {{ govukTable({
  rows: [
    [
      {
        text: "Company number"
      },
      {
        text: "SC393288"
      }
    ],
    [
      {
        text: "Company name"
      },
      {
        text: "ZLC LTD"
      }
    ],
    [
      {
        text: "Type of document"
      },
      {
        text: "RP07"
      }
    ],
    [
      {
        text: "Document submitted"
      },
      {
        text: "RP07.pdf"
      }
    ],
    [
      {
        text: "Date submitted"
      },
      {
        text: "1 Jan 2020"
      }
    ]
  ]
}) }}
      <p class="govuk-body">The document you uploaded was accepted for filing</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">The document will appear on the company's filing history in the next 5 working days.</p>
      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you need to contact Companies House, please email
        <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a>
        and someone will reply as soon as possible.</p>
    </div>
  </div>
{% endblock %}