{% extends "emails/layout-email.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Your reference number is Y2345678" %}
      {{ govukPanel({
        titleText: "Document uploaded successfully",
        html: buttonHref
      }) }}
      {{ govukTable({
        rows: [
          [
            {
              text: "Company number"
            },
            {
              text: "SC393288"
            }
          ],
          [
            {
              text: "Company name"
            },
            {
              text: "ZLC LTD"
            }
          ],
          [
            {
              text: "Document submitted"
            },
            {
              text: "LP5.pdf"
            }
          ]
        ]
      }) }}
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">An examiner will process the uploaded document to check if it's acceptable for filing. Documents are registered with the date they are uploaded to Companies House as long as they are acceptable.</p>
      <p class="govuk-body">If the document is not acceptable for filing, we will email you to let you know what to do next.</p>
      {{ govukWarningText({
        text: "Warning: Due to the impact of coronavirus (COVID-19), it's taking longer than usual to process documents",
        iconFallbackText: "Warning"
      }) }}
      <p class="govuk-body">If you need to contact Companies House, please email
        <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a>
        and someone will reply as soon as possible.</p>
    </div>
  </div>
{% endblock %}
