{% extends "emails/layout-email.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% set buttonHref = "One or more same day submissions are delayed in the Upload a document to Companies House service" %}

      {{ govukPanel({
        titleText: "Submission delay alert: Same day SH19",
        classes: "rejected",
        html: buttonHref
      }) }}

      <p class="govuk-body">This email is to advise you that one or more same day submissions have been delayed for [DELAY IN MINUTES]. This means are currently unable to progress through the upload service.</p>
        <p class="govuk-body">IT support are aware and are trying to solve the issue.</p>
      <h3 class="govuk-heading-m">Affected documents</h3>
      {{ govukTable({
  rows: [
    [
      {
        text: "Upload date and time"
      },
      {
        text: "[SUBMISSION DATE]"
      }
    ],
    [
      {
        text: "Company number"
      },
      {
        text: "[COMPANY NUMBER]"
      }
    ],
    [
      {
        text: "Submission ID"
      },
      {
        text: "[SUBMISSION ID]"
      }
    ],
    [
      {
        text: "Confirmation reference"
      },
      {
        text: "[CONFIRMATION REFERENCE]"
      }
    ],
    [
      {
        text: "Customer email"
      },
      {
        text: "[EMAIL]"
      }
    ]
  ]
}) }}
{{ govukTable({
rows: [
[
{
  text: "Upload date and time"
},
{
  text: "[SUBMISSION DATE]"
}
],
[
{
  text: "Company number"
},
{
  text: "[COMPANY NUMBER]"
}
],
[
{
  text: "Submission ID"
},
{
  text: "[SUBMISSION ID]"
}
],
[
{
  text: "Confirmation reference"
},
{
  text: "[CONFIRMATION REFERENCE]"
}
],
[
{
  text: "Customer email"
},
{
  text: "[EMAIL]"
}
]
]
}) }}
{{ govukTable({
rows: [
[
{
  text: "Upload date and time"
},
{
  text: "[SUBMISSION DATE]"
}
],
[
{
  text: "Company number"
},
{
  text: "[COMPANY NUMBER]"
}
],
[
{
  text: "Submission ID"
},
{
  text: "[SUBMISSION ID]"
}
],
[
{
  text: "Confirmation reference"
},
{
  text: "[CONFIRMATION REFERENCE]"
}
],
[
{
  text: "Customer email"
},
{
  text: "[EMAIL]"
}
]
]
}) }}
  </ul>
</div>
</div>
{% endblock %}
