{% extends "emails/layout-email.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "The customer reference number is Y2345678" %}
      {{ govukPanel({
        titleText: "Document rejected",
        classes: "rejected",
        html: buttonHref
      }) }}
      {{ govukTable({
  rows: [
    [
      {
        text: "Company number"
      },
      {
        text: "0000000"
      }
    ],
    [
      {
        text: "Company name"
      },
      {
        text: "ZLC limited"
      }
    ],
    [
      {
        text: "Document submitted"
      },
      {
        text: "RP07.pdf"
      }
    ],
    [
      {
        text: "Date rejected"
      },
      {
        text: "1 Jan 2020"
      }
    ]
  ]
}) }}
      <p class="govuk-body">This submission was rejected because the uploaded document(s) failed our antivirus scan. The customer will need to resubmit their application.</p>
      <p class="govuk-body">The following document(s) failed our antivirus scan:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Document 1.pdf</li>
        <li>Document 2.pdf</li>
        <li>Document 3.pdf</li>
      </ul>
      <h2 class="govuk-heading-m">Customer contact details</h2>
      <p class="govuk-body">Contact the customer to advise them at
        <a href="mailto:person@gmail.com">person@gmail.com</a>
      </p>

    </div>
  </div>
{% endblock %}