{% extends "emails/layout-email.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "One or more submissions are delayed in the Upload a document to Companies House service" %}
      {{ govukPanel({
        titleText: "Submission delay alert",
        classes: "rejected",
        html: buttonHref
      }) }}
      <p class="govuk-body">This email is to advise you that one or more submissions have been delayed for 3 or more days and are currently unable to progress through the upload service.</p>
<h3 class="govuk-heading-m">Affected documents</h3>
{{ govukTable({
  rows: [
    [
      {
        text: "Upload date"
      },
      {
        text: "1 January 2020"
      }
    ],
    [
      {
        text: "Proposed name"
      },
      {
        text: "SQUIRES SP"
      }
    ],
    [
      {
        text: "Type of document"
      },
      {
        text: "SQP1"
      }
    ],
    [
      {
        text: "Confirmation reference"
      },
      {
        text: "1A2B-3C4D-5E6F-7G8H"
      }
    ],
    [
      {
        text: "Customer email"
      },
      {
        text: "testcustomer@testdata.com"
      }
    ]
  ]
}) }}
{{ govukTable({
  rows: [
    [
      {
        text: "Upload date"
      },
      {
        text: "1 January 2020"
      }
    ],
    [
      {
        text: "Proposed name"
      },
      {
        text: "HOXTON SP"
      }
    ],
    [
      {
        text: "Type of document"
      },
      {
        text: "SQP1"
      }
    ],
    [
      {
        text: "Confirmation reference"
      },
      {
        text: "1A2B-3C4D-5E6F-7G8H"
      }
    ],
    [
      {
        text: "Customer email"
      },
      {
        text: "testcustomer@testdata.com"
      }
    ]
  ]
}) }}
{{ govukTable({
  rows: [
    [
      {
        text: "Upload date"
      },
      {
        text: "1 January 2020"
      }
    ],
    [
      {
        text: "Proposed name"
      },
      {
        text: "BILLINGS SP"
      }
    ],
    [
      {
        text: "Type of document"
      },
      {
        text: "SQP1"
      }
    ],
    [
      {
        text: "Confirmation reference"
      },
      {
        text: "1A2B-3C4D-5E6F-7G8H"
      }
    ],
    [
      {
        text: "Customer email"
      },
      {
        text: "testcustomer@testdata.com"
      }
    ]
  ]
}) }}
{{ govukTable({
  rows: [
    [
      {
        text: "Upload date"
      },
      {
        text: "1 January 2020"
      }
    ],
    [
      {
        text: "Proposed name"
      },
      {
        text: "EDGE SP"
      }
    ],
    [
      {
        text: "Type of document"
      },
      {
        text: "SQP1"
      }
    ],
    [
      {
        text: "Confirmation reference"
      },
      {
        text: "1A2B-3C4D-5E6F-7G8H"
      }
    ],
    [
      {
        text: "Customer email"
      },
      {
        text: "testcustomer@testdata.com"
      }
    ]
  ]
}) }}
      </ul>
      <p class="govuk-body">Contact IT support for the latest update on these submissions.</p>
    </div>
  </div>
{% endblock %}
