{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block pageTitle %}
  Enter the company authentication code
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "confirm-company"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/auth-screen" method="post">
        {% if errorAuth == true %}
          {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
          {{ govukInput({
            label: {
            text: "Enter the company authentication code",
            classes: "govuk-label--xl"
            },
              classes: "govuk-input--width-5",
            hint: {
              text: "You need the authentication code to submit company information for ZLC Ltd."
            },
            id: "auth-number",
            name: "authNumber",
            errorMessage: {
              text: "Enter the company authentication code"
            }
          }) }}
        {% else %}
          {{ govukInput({
          label: {
          text: "Enter the company authentication code ",
          classes: "govuk-label--xl"
          },
            classes: "govuk-input--width-10",
          hint: {
            text: "You need the authentication code to submit company information for ZLC Ltd."
          },
          id: "auth-number",
          name: "authNumber"
        }) }}
        {% endif %}
        <p class="govuk-body">
          <a target='blank' href='https://ewf.companieshouse.gov.uk/?_ga=2.259791299.813501771.1566987875-1638653194.1563432911'>Request an authentication code</a>
        </p>

        {{ govukButton({
         text: "Continue"
       }) }}
      </form>
    </div>
  </div>
{% endblock %}
