{% if data['formType'] == "SH19 - Statement of capital when reducing capital in a company" %}
  {% set title = "Check your details before paying for and submitting your document" %}
{% else %}
  {% set title = "Check your details before submitting your document" %}
{% endif %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>
      <h2 class="govuk-heading-m">Company details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{company.company_name}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            {{company.company_number}}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Document details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Document type
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['formType']}}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Document uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            <a href='public/pdf/RP06_V1.0_2.pdf'>{{data['formType']}}.pdf (opens in a new tab)</a>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        {% if data['formType'] == "SH19 - Statement of capital when reducing capital in a company" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount to pay
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['delivery'] == "Standard service" %}
                £10 ({{data['delivery']}})
              {% else %}
                £50 ({{data['delivery']}})
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
        {% endif %}
      </dl>

      {% if data['formType'] == "SH19 - Statement of capital when reducing capital in a company" %}
        {{ govukButton({
          text: "Pay for and submit document",
          href: "https://products.payments.service.gov.uk/pay/1053e4e0262247a69d301b92a9fe439c"
        }) }}
      {% else %}
        {{ govukButton({
             text: "Submit document",
             href: "confirmation"
           }) }}
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
