{% extends "layout.html" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your details before submitting your uploaded document</h1>

      <h2 class="govuk-heading-m">Company details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              html: "ZLC LTD"
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "SC393288"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Document details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Document type"
            },
            value: {
              text: "LP5 - Register a limited partnership "
            },
            actions: {
              items: [
                {
                  href: "#",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "Document uploaded"
            },
            value: {
              html: "<a href='public/pdf/LP5_.pdf'> lp5.pdf</a> (opens in a new tab)"
            }
          },
          {
            key: {
              text: "Payment reference"
            },
            value: {
              html: "2P3 2AM3 AVA"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Upload another document",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
          text: "Submit document",
          href: "confirmation"
        }) }}

    </form>

  </div>
</div>
{% endblock %}
