{% extends "layout.html" %}
{% block pageTitle %}
  Check your details before submitting your uploaded document
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check your details before paying for and submitting your document</h1>
      <h2 class="govuk-heading-m">Company details</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              html: "ZLC LTD"
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "09393288"
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">Document details</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-4',
        rows: [
          {
            key: {
              text: "Document type"
            },
            value: {
              text: "SH19 - Statement of capital when reducing capital in a company"
            },
            actions: {
              items: [
                {
                  href: "#",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "Document uploaded"
            },
            value: {
              html: "<a href='public/pdf/RP06_V1.0_2.pdf'>SH19.pdf (opens in a new tab)</a>"
            }
          },
          {
            key: {
              text: "Amount to pay"
            },
            value: {
              html: "£10"
            }
          }
        ]
      }) }}
      {{ govukButton({
          text: "Pay for and submit document",
          href: "https://products.payments.service.gov.uk/pay/aa61285cbc0442bbabcde9be6587e447"
        }) }}
    </form>
  </div>
</div>
{% endblock %}
