{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block pageTitle %}
  Tell us your company number
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "sign-in"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukInput({
          label: {
          text: "What is the company number? ",
          classes: "govuk-label--xl"
          },
          hint: {
            text: "This is the 8 character reference issued by Companies House when the company was set up."
          },
            classes: "govuk-input--width-5",
          id: "company-number",
          name: "companyNumber"
        }) }}
      {{ govukDetails({
        summaryText: "Help with company number",
        html: "<p>Use the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House service</a> to find it.</p>"
       }) }}
      {{ govukButton({
          text: "Continue",
          href: "confirm-company"
        }) }}
    </div>
  </div>
{% endblock %}