{% extends "layout.html" %}
{% block pageTitle %}
  Form submitted
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Reference: ACC0001" %}
      {{ govukPanel({
        titleText: "Document submitted",
        html: buttonHref
      }) }}
      <p>We have sent a confirmation email to (email address) that contains your reference.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">We will review the document and update the company information if it has been completed correctly.</p>
      <p>We will email you if there are errors or we need more information.</p>
        <p class="govuk-body">
          <a href="#">What did you think of this service?</a>
          (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
