{% set title = "Confirm this is the correct company" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-number"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            ZLC LTD
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-number'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Active
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incorporation date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">7 November 2011</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Private Limited Company</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered office address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Delta 606 Welton Road<br/>
              Delta Office Park<br/>
              Swindon<br/>
              United Kingdom<br/>
              SN5 7XF</p>
          </dd>
        </div>
      </dl>
      {{ govukButton({
        text: "Confirm and continue",
        href: "/types-of-forms/form-types"
      }) }}
    </div>
  </div>
{% endblock %}