{% set title = "Document uploaded successfully" %}
{% extends "layout.html" %}

{% block pageTitle %}
  {{ pageTitle(title) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/user.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% set buttonHref = "Your reference number is Y2345678" %}
      {{ govukPanel({
        titleText: title,
        html: buttonHref
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We have sent you a confirmation email which contains your reference number.</p>
      <p class="govuk-body">An examiner will process the uploaded document to check if it’s acceptable for filing. Documents are registered with the date they are uploaded to Companies House as long as they are acceptable.</p>
      <p>We'll email you to tell you if the document is acceptable for filing. If the document is not acceptable, we'll email you to let you know what to do next.</p>

      {% include "includes/coronavirus.html" %}

      <h2 class="govuk-heading-m">What do you want to do next?</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/confirm-company">Upload another document for ZLC LTD</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/existing-company">Upload another document for a different company</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/start">Sign out</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}