{% extends "layout.html" %}
{% block pageTitle %}
  Document uploaded successfully
{% endblock %}
{% block beforeContent %}
  <div class="js-toggle-nav" id="global-nav">
    <div id="user_bar">
      <nav role="navigation" class="content">
        <ul id="navigation">
          <li>
            interactiondesign@companieshouse.gov.uk:
          </li>
          <li>
            <a id="user-signout" href="/">Sign out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Reference: Y2345678" %}
      {{ govukPanel({
        titleText: "Document uploaded successfully",
        html: buttonHref
      }) }}
      <p>We have sent a confirmation email to (email address) that contains your reference.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
  text: "Due to the impact of coronavirus (COVID-19) it’s taking longer than usual to process documents.",
  iconFallbackText: "Warning"
}) }}
      <p class="govuk-body">We will process the document. All documents are registered with the date they are uploaded to Companies House, as long as they are in an acceptable format.</p>
      <p>
        <a href="https://www.gov.uk/government/news/follow-companies-for-free">Follow the company</a>
        to get an email notification when the document has been processed.</p>
      <p>If the document isn't in an acceptable format, we will email you to let you know what to do next.</p>
      <h2 class="govuk-heading-l">Feedback</h2>
      {{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Overall, how would you describe your experience with the form?"
    }
  },
  items: [
    {
      value: "england",
      text: "Very satisfied"
    },
    {
      value: "scotland",
      text: "Satisfied"
    },
    {
      value: "wales",
      text: "Nither satisfied or dissatisfied"
    },
    {
      value: "northern-ireland",
      text: "Dissatisfied"
    },
    {
      value: "northern-ireland",
      text: "Very dissatisfied"
    }
  ]
}) }}

      {{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "How can we improve this service?"
  },
  hint: {
    text: "To help us improve this service, include as much information as possible. For example if a question was confusing, let us know which one."
  }
}) }}
      {{ govukButton({
  text: "Submit"
}) }}
    </div>
  </div>
{% endblock %}