{% set title = "Tell us your company number" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "sign-in"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/existing-company" method="post">
        {% if errorType == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select whether you are uploading a document for a registered company or not",
                href: "#passport-issued-error"
              }
            ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "existing-company",
            name: "existing-company",
            fieldset: {
              legend: {
                text: "Are you uploading a document for an registered company?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: {
              text: "Select yes if you are uploading a document for a registered company"
            },
            hint: {
              html: "A registered company has a company number and is on the <a href='https://beta.companieshouse.gov.uk/search/companies'>Companies House register</a>."
            },
            items: [
              {
                value: "yes",
                text: "Yes, I'm uploading a document for a registered company"
              },
              {
                value: "no",
                text: "No, I'm uploading a document for a company that has not been registered yet"
              }
            ]
          }) }}
        {% else %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "existing-company",
            name: "existing-company",
            fieldset: {
              legend: {
                text: "Are you uploading a document for a registered company?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: "A registered company has a company number and is on the

              <a href='https://beta.companieshouse.gov.uk/search/companies'>Companies House register (opens in a new tab)</a>."
            },
            items: [
              {
                value: "yes",
                text: "Yes, I'm uploading a document for a registered company"
              },

              {
                value: "no",
                text: "No, I'm uploading a document for a company that has not been registered yet"
              }
            ]
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
