{% extends "layout.html" %}
{% block pageTitle %}
  Upload a document to Companies House
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Upload a document to Companies House
      </h1>
      <p class="govuk-body-l">This guide is for companies that need to file a dissolution, incorporation, liquidation or shares document online that would usually be sent to us in a paper format.
      </p>
      {{ govukInsetText({
  text: "This guidance has been created for the interim service to enable paperless filing in response to the coronavirus (COVID-19) outbreak."
}) }}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-3">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Published 8 April 2020</p>
      <p class="govuk-body-s">From:
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>
      </p>

      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>
          <a class="govuk-link govuk-body-s" href="">How to prepare the document</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Documents that can be uploaded</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Documents that have a fee</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">What happens next</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contact us</a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">How to prepare the document
            </h2><p class="govuk-body">You must complete the document in advance and save it to the device you are using so that it is ready to upload.</p>
<h3 class="govuk-heading-m">Companies House form</h3>
<ol class="govuk-list govuk-list--number">
  <li><a href="https://www.gov.uk/topic/company-registration-filing/forms" class="govuk-link">Find the Companies House form</a> that you need and download it.</li>
  <li>Complete the form.</li>
</ol>
<p class="govuk-body">You can do this:</p>
<h4 class="govuk-heading-s">Electronically:</h4>
<ul class="govuk-list govuk-list--bullet">
  <li>Type the information directly onto the form.</li>
  <li>Save the form to the device you are using so that it is ready to upload.</li></<p></p>
</ul>
<h4 class="govuk-heading-s">Using a pen:</h4>
<ul class="govuk-list govuk-list--bullet">
  <li>Print the form.</li>
  <li>Fill in the information directly onto the form using a pen.</li>
  <li>Scan the completed form.</li>
  <li>Save the scanned form to the device you are using so that it is ready to upload.</li>
</ul>
<h3 class="govuk-heading-m">Signatures</h3>
<p class="govuk-body">You can add a signature to a form using:</p>
<ol class="govuk-list govuk-list--number">
  <li>Insert list here</li>
</ol>
<h3 class="govuk-heading-m">Other types of document</h3>
<ol class="govuk-list govuk-list--number">
  <li>Prepare the document you want to send us in advance.</li>
  <li>Save the document to the device you are using so that it is ready to upload.</li>
</ol>
<h4 class="govuk-heading-s">You can upload:</h4>
<ul class="govuk-list govuk-list--bullet">
  <li>letters</li>
  <li>certificates</li>
  <li>notices</li>
  <li>resolutions</li>
  <li>reports</li>
  <li>documents that are not created by Companies House</li></<p><br />
  </ul>
  <h2 class="govuk-heading-l">Documents that can be uploaded
        </h2>
        {{ govukAccordion({
          id: "accordion-default",
          items: [
            {
              heading: {
                text: "Dissolution"
              },
              content: {
                html: "<p class='govuk-body'>
        Third party objection for compulsory dissolution</P>
        <p class='govuk-body'>Third party objection to voluntary dissolution</p>"
              }
            },
            {
              heading: {
                text: "Incorporation"
              },
              content: {
                html: "<p class='govuk-body'>List of incorporation documents</p>"
              }
            },
              {
              heading: {
                text: "Liquidation"
              },
              content: {
                html: "<p class='govuk-body'>Notice of appointment of liquidator voluntary winding-up</p>
<p class='govuk-body'>Notice of administrator's appointment</p>
<p class='govuk-body'>Notice of statement of affairs in administration</p>
<p class='govuk-body'>Notice of administrator's proposals</p>
<p class='govuk-body'>Notice of extension of time to deliver administrator's proposals</p>
<p class='govuk-body'>Notice of extension of time to seek approval of administrator's proposals</p>
<p class='govuk-body'>Notice of approval of administrator’s proposals</p>
<p class='govuk-body'>Notice of creditor's decision on administrator's proposal</p>
<p class='govuk-body'>Notice of revision of administrator's proposals</p>
<p class='govuk-body'>Notice of result of creditor's decision on revised administrator's proposals</p>
<p class='govuk-body'>Notice of administrator's progress report</p>
<p class='govuk-body'>Notice of appointment of replacement or additional administrator</p>
<p class='govuk-body'>AM01</p>
<p class='govuk-body'>AM02</p>
<p class='govuk-body'>AM03</p>
<p class='govuk-body'>AM04</p>
<p class='govuk-body'>AM05</p>
<p class='govuk-body'>AM06</p>
<p class='govuk-body'>LIQ05</p>
<p class='govuk-body'>LIQ06</p>
<p class='govuk-body'>LIQ07</p>
<p class='govuk-body'>LIQ08</p>
<p class='govuk-body'>LIQ09</p>
<p class='govuk-body'>LIQ10</p>
<p class='govuk-body'>LIQ11</p>
<p class='govuk-body'>LIQ12</p>
<p class='govuk-body'>LIQ13</p>
<p class='govuk-body'>LIQ14</p>
<p class='govuk-body'>WU01</p>
<p class='govuk-body'>WU02</p>
<p class='govuk-body'>WU03</p>"
              }
            },
              {
              heading: {
                text: "Shares"
              },
              content: {
                html: "<p class='govuk-body'>SH01</p>
<p class='govuk-body'>SH02</p>
<p class='govuk-body'>SH03</p>
<p class='govuk-body'>SH04</p>
<p class='govuk-body'>SH05</p>
<p class='govuk-body'>SH06</p>
<p class='govuk-body'>SH07</p>
<p class='govuk-body'>SH08</p>
<p class='govuk-body'>SH09</p>
<p class='govuk-body'>SH10</p>
<p class='govuk-body'>SH11</p>
<p class='govuk-body'>SH12</p>
<p class='govuk-body'>SH13</p>
<p class='govuk-body'>SH14</p>
<p class='govuk-body'>SH15</p>
<p class='govuk-body'>SH16</p>
<p class='govuk-body'>SH17</p>
<p class='govuk-body'>SH18</p>
<p class='govuk-body'>SH19</p>
<p class='govuk-body'>SH19</p>
<p class='govuk-body'>SH20</p>
<p class='govuk-body'>CAP-SS</p>
<p class='govuk-body'>SH30</p>
<p class='govuk-body'>NAC01</p>
<p class='govuk-body'>980 (1)</p>
<p class='govuk-body'>980 dec
                </p>"
              }
            }
          ]
        }) }}
        <h2 class="govuk-heading-l">Documents that have a fee
              </h2>

      <p class="govuk-body">You can use this service to pay for the document if it has a fee.
      </p>
      <p class="govuk-body">You will need a credit or debit card.
      </p>
      <p class="govuk-body">The documents that have a fee are:
      </p>
      <ol class="govuk-list govuk-list--bullet">
        <li>Document (£fee)</li>
      </ol>
<h4 class="govuk-heading-s">How to pay:</h4>
<ol class="govuk-list govuk-list--number">
  <li>Upload the completed document.</li>
  <li>Select ‘pay for the document online’ which will open a new tab.</li>
  <li>Enter your payment details.</li>
  <li>You will be shown a payment reference on the confirmation screen when you have paid.</li>
  <li>Make a note of the reference and return to the service.</li>
  <li>Enter the reference into the payment reference box.</li>
  <li>Submit the document.</li>
</ol>

      <h2 class="govuk-heading-l">What happens next
      </h2>
      <p class="govuk-body">You will receive a confirmation email with your reference number.
      </p>
      <p class="govuk-body">We will process the uploaded document.
      </p>
<h3 class="govuk-heading-m">If the document is acceptable for filing:</h3>
<ol class="govuk-list govuk-list--bullet">
        <li>you will receive an email to confirm the document was accepted.</li>
        <li>the document will be registered with the date it was uploaded to Companies House.</li>
      </ol>
      <h3 class="govuk-heading-m">If the document is not acceptable for filing:</h3>
      <ol class="govuk-list govuk-list--bullet">
              <li>we will email you to let you know what to do next.</li>
            </ol>
    <h2 class="govuk-heading-l">Contact us
    </h2>
    <p class="govuk-body">Email <a class="govuk-link" href="mailto:enquiries@companieshouse.gov.uk"> enquiries@companieshouse.gov.uk</a>
    </p>
    <p class="govuk-body">For the welfare of our employees during the coronavirus (COVID-19) outbreak, our telephone contact centre is now closed.
    </p>
  </div>
</div>
{% endblock %}
