{% extends "layout.html" %}
{% block pageTitle %}
  Upload a document to Companies House prototype
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload a document to Companies House prototype</h1>
      <button class="btn-toggle govuk-button">Toggle dark mode (experimental)</button>

      <h2 class="govuk-heading-l">Shortcuts</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start.html" class="govuk-link">Upload a document to Companies House service start page</a>
        </li>
        <li>
          <a href="govuk/lp5" class="govuk-link">LP5 form type page</a>
        </li>
        <li>
          <a href="emails/email-list" class="govuk-link">Emails sent</a>
        </li>
        <li>
          <a href="search-form" class="govuk-link">Experimental form type search</a>
        </li>
        <li>
          <a href="guest-signin/option" class="govuk-link">Experimental guest sign in</a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Shortcuts in the service</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="sign-in" class="govuk-link">Sign in</a>
        </li>
        <li>
          <a href="company-number" class="govuk-link">Company number</a>
        </li>
        <li>
          <a href="confirm-company" class="govuk-link">Confirm company details</a>
        </li>
        <li>
          <a href="/types-of-forms/form-types" class="govuk-link">Form types</a>
        </li>
        <li>
          <a href="auth-screen" class="govuk-link">Authentication code</a>
        </li>
        <li>
          <a href="upload-accounts" class="govuk-link">Upload document</a>
        </li>
        <li>
          <a href="payment" class="govuk-link">Payment reference</a>
        </li>
        <li>
          <a href="question-upload-supporting" class="govuk-link">Uploading supporting documents</a>
        </li>
        <li>
          <a href="check" class="govuk-link">Check details</a>
        </li>
        <li>
          <a href="confirmation" class="govuk-link">Confirmation</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}