{% extends "layout.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload a document to Companies House prototype</h1>
      <h2 class="govuk-heading-l">Shortcuts</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start.html" class="govuk-link">Upload a document to Companies House service start page</a>
        </li>
        <li>
          <a href="govuk/lp5" class="govuk-link">LP5 form type page</a>
        </li>
        <li>
          <a href="emails/email-list" class="govuk-link">Emails sent</a>
        </li>
        <li>
          <a href="search-form" class="govuk-link">Experimental form type search</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}