{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK Pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "upload-accounts"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Pay for the document</h1>
      {{ govukInsetText({
      html: "You must now <a target='_blank' href='https://www.gov.uk/payments/companies-house/test'>pay for the document online</a> (opens in a new tab).<br/><br/>
      After you have paid, come back to this service and enter the payment reference. "
      }) }}
      <div class="payment-reference">
        {{ govukInput({
  label: {
    text: "Payment reference"
  },
  id: "event-name",
  name: "event-name"
}) }}

        {{ govukDetails({
  summaryText: "Help with payment reference",
  html: "When you have paid, you will be shown a payment reference on the confirmation screen.<br/><br/> Copy the reference and return to this service.<br/><br/>Enter the reference into the payment reference box."
}) }}


      {{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Fee"
    },
    value: {
      html: "£1.00"
    }
  },{
      key: {
        text: "Document uploaded"
      },
      value: {
        html: "<a target='_blank' href='public/upload/SH06.pdf'>SH06 document</a>"
      }
    },
    {
      key: {
        text: "Document type"
      },
      value: {
        text: "Notify a cancellation of shares (SH06)"
      }
    },
    {
      key: {
        text: "Fee amount"
      },
      value: {
        html: "£1.00"
      }
    }
  ]
}) }}

{{ govukButton({
text: "Submit document",
href: "confirmation"
}) }}
<br/>
        {{ govukButton({
  text: "Upload another document",
  classes: "govuk-button--secondary"
}) }}
      </div>
    </div>
  </div>
{% endblock %}
