{% set title = "Document uploaded. Payment now required." %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation confirmation--pay">
        <h1 class="govuk-panel__title">{{title}}</h1>
        <div class="govuk-panel__body">
          Your reference number is<br>
          <strong>Y2345678</strong>
          <ul>
            <p class="govuk-body govuk-!-font-size-36">Make a note of your reference number before you continue.
            </p>
          </div>
          {{ govukButton({
          text: "Pay for uploaded document",
          href: "https://www.gov.uk/payments/companies-house/upload-document-to-companies-house",
          classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0"
        }) }}
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>Keep a note of your reference number in case you need to contact us about your document.</p>
        <p class="govuk-body">An examiner will process the uploaded document to check if it’s acceptable for filing after you have paid. Documents are registered with the date they are uploaded to Companies House as long as they are acceptable.</p>
        <p>If the document is not acceptable for filing, we will email you to let you know what to do next.</p>
        {% include "includes/coronavirus.html" %}
      </div>
    </div>
  {% endblock %}