{% set title = "Document uploaded. Payment now required." %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "upload-accounts"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/auth-screen" method="post">
        {% if errorAuth == true %}
          {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
          {{ govukInput({ label: { text: "Enter the company authentication code", classes:
      "govuk-label--xl" }, classes: "govuk-input--width-5", hint: { text: "You need the authentication code to submit company information for ZLC Ltd." }, id: "auth-number", name: "authNumber", errorMessage: { text: "Enter the company authentication code"
      } }) }}
        {% else %}
          {{ govukInput({ label: { text: "Enter the payment reference number", classes: "govuk-label--xl" }, classes: "govuk-input--width-20",  hint: { text: " You can find it on the payment confirmation screen and the email you received
      after you paid. If you have not paid the fee yet, you must return to the page you downloaded your form and follow the payment instructions.
 " }, id: "auth-number", name: "authNumber" }) }}
        {% endif %}
      </form>
      {{ govukButton({ text: "Continue", href: "question-upload-supporting" }) }}
    </div>
  </div>
{% endblock %}
