{% set title = "Document uploaded. Payment now required." %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "upload-accounts"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/auth-screen" method="post">
        <h1 class="govuk-heading-xl">Enter the payment reference number</h1>
        <p class="govuk-body">You can find it on the payment confirmation screen and the email you received after you paid.</p>
        {{ govukInsetText({
          text: "If you have not paid the fee yet, you must return to the page where you downloaded your form and follow the payment instructions."
        }) }}
        {{ govukInput({
          label: {
            text: "Payment reference"
          },
          classes: "govuk-input--width-20",
         id: "auth-number",
         name: "authNumber"
       }) }}
      </form>
      {{ govukButton({
        text: "Continue",
        href: "question-upload-supporting"
      }) }}
    </div>
  </div>
{% endblock %}
