{% extends "layout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "check-details"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Review your payment
      </h1>
      {% set paymentLabel %}
      Order details (00012345)<br/>
      COMPANY NAME (00345567)
      {% endset %}
      {{ govukTable({
        caption: "Items you are paying for",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "Item"
          },
          {
            text: "Amount to pay",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: paymentLabel
            },
            {
              text: "£50",
              format: "numeric"
            }
          ]
        ]
      }) }}

      <h3 class="govuk-heading-m">The total amount to pay is &pound;50</h3>

      {{ govukButton({
        text: "Continue",
        href: "gov-pay"
      }) }}
    </div>
  </div>

{% endblock %}