{% extends "layout.html" %}
{% block pageTitle %}
Are you uploading a document to register a Scottish limited partnership or a Scottish qualifying partnership? -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "company-number"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% set yes %}
      {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          label: {
            text: " What is the proposed name of the firm or partnership?"
          }
        }) }}
      {% endset -%}
      {% set no %}
      <p class="govuk-body">You can only upload documents to register Scottish limited partnerships or Scottish qualifying partnerships in this service.</p>
        <p class="govuk-body">There is a different service if you want to <a href="https://www.gov.uk/limited-company-formation/register-your-company" class="govuk-link" rel="noreferrer noopener" target="_blank">register a company (opens in new tab)</a>.</p>
      {% endset -%}
      {{ govukRadios({
        idPrefix: "contact",
        name: "contact",
        fieldset: {
          legend: {
            text: "Are you uploading a document to register a Scottish limited partnership or a Scottish qualifying partnership?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: yes
            }
        },
        {
          value: "no",
          text: "No",
          conditional: {
            html: no
          }
        }
      ]
    }) }}
      {{ govukButton({
      text: "Continue",
      href: "/types-of-forms/form-types-sqp"
    }) }}
    </div>
  </div>
{% endblock %}
