{% extends "layout.html" %}
{% block pageTitle %}
  Session timed out due to inactivity
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You are now signed out</h1>
      <p class="govuk-body">For your security, we've signed you out because you
have not used the service for 60 minutes.</p>
      <p class="govuk-body">We have not saved your information.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="#">Start again</a> to upload a document to Companies House.
      </p>
    </div>
  </div>
{% endblock %}
