{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Sign in to Companies House
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Sign in to Companies House</h1>
      <form action="CHS-signin" method="post">
        {% if errorEmail == true or errorPassword == true %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
        {% endif %}
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
            text: "Email address"
          },
          id: "email",
          type: "email",
          name: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
            text: "Email address"
          },
          type: "email",
          autocomplete: "email",
          id: "email",
          name: "email"
          }) }}
        {% endif %}
        {% if errorPassword == true %}
          {{ govukInput({
          label: {
          text: "Password"
        },
        id: "password",
        name: "password",
        type: "password",
        errorMessage: {
            text: "Enter your password"
          }
        }) }}
        {% else %}
          {{ govukInput({
          label: {
          text: "Password"
        },
        id: "password",
        name: "password",
        type: "password"
        }) }}
        {% endif %}

        {{ govukButton({
        text: "Sign in",
        href: "company-number"
      }) }}

        <p>
          <a href="" class="govuk-link govuk-link--no-visited-state">Register a new account</a>
        </p>
        <p>
          <a href="" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
