{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "confirm-company"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-accounts" method="post">
        {% if errorType == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {{ govukRadios({
            idPrefix: "type",
            name: "type",
            errorMessage: {
              text: "Select the *type of form that you want to upload* "
            },
            fieldset: {
              legend: {
                text: "What type of document are you uploading?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
             },
             items: [
               {
                 value: "reg",
                 text: "Reg"
               },
               {
                 value: "insolvency",
                 text: "Insolvency"
               }
             ]
           }) }}
        {% else %}
          {{ govukRadios({
        idPrefix: "type",
        name: "type",
        fieldset: {
          legend: {
            text: "What type of document are you uploading?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
          {
            value: "reg",
            text: "Registrar's Powers"
          },
          {
            value: "insolvency",
            text: "Insolvency"
          }
        ]
        }) }}
        {% endif %}
        {{ govukButton({
      text: "Continue"
    }) }}
      </form>
    </div>
  </div>
{% endblock %}