{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "auth-screen"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {{ govukRadios({
        idPrefix: "waste",
        name: "waste",
        fieldset: {
          legend: {
            text: "What type of document are you uploading?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
          {
            value: "carcasses",
            text: "Apply for rectification by the registrar of companies (RP02A) "
          },
          {
            value: "mines",
            text: "Apply for rectification of a change of registered address (RP02B) "
          },
          {
            value: "farm",
            text: "Object to a request to rectify the register (RP03) "
          },
          {
            value: "farm",
            text: "Apply to remove material about a director (RP06) "
          },
          {
            value: "farm",
            text: "Apply to change a company's disputed registered office address (RP07) "
          },
          {
            value: "farm",
            text: "Correct a director's date of birth (RPCH01) "
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue",
      href: "upload-accounts"
    }) }}
    </div>
  </div>
{% endblock %}