{% extends "layout.html" %}
{% block pageTitle %}
  Upload the completed document
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "auth-screen"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Upload the completed document</h1>
      <p class="govuk-body">You should:</p>
      <ul class="govuk-list govuk-list--bullet"></li>
      <li>upload one document or Companies House form in PDF format</li>
      <li>complete the document before uploading it</li>
      {{ govukInsetText({
        text: "If your document needs supporting evidence you must merge the document and evidence into one PDF file. Then upload them as a single document."
      }) }}
    </ul>
    {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Upload document"
        }
      }) }}
    {{ govukButton({
        text: "Submit document",
        href: "confirmation-experiment"
      }) }}
  </div>
</div>
{% endblock %}
