{% set title = "Upload a completed document" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "auth-screen"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">Company name: ZLC LTD</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{title}}</h1>
      <p class="govuk-body">You must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complete the document before uploading it
        </li>
        <li>upload one document using a PDF format
        </li>
        </li>
      </ul>
      {{ govukInsetText({
        text: "If you are uploading a document that requires supporting evidence, you can upload up to 10 files including the completed document and the evidence."
      }) }}
      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Upload document"
        }
      }) }}
  {{ govukButton({
        text: "Submit",
        href: "confirmation"
      }) }}
</div>
</div>
{% endblock %}
