{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Uploaded accounts
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "upload-accounts"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Files uploaded</h1>
      <p class="govuk-body">Check uploaded accounts before continuing.</p>
      {{ govukTable({
        caption: "Items you are paying for",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "File"
          },
          {
            text: "Do you need to pay?",
            format: "text"
          }
        ],
        rows: [
          [
            {
              html: "<a href='/public/upload/SH06.pdf' target='_blank'>ZLC LTD forms</a>"
            },
            {
              text: "Yes",
              format: "text"
            }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Pay and submit",
        href: "https://products.payments.service.gov.uk/pay/f004ef955aa54d11ab425c24c1f801cb"
      }) }}
    </div>
  </div>
{% endblock %}