{% set title = "Upload the completed document" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "auth-screen"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{title}}</h1>
      <p class="govuk-body">You must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complete the document before uploading it
        </li>
        <li>upload one document using a PDF format
        </li>
      </li>
    </ul>
    {{ govukInsetText({
        text: "Some documents require supporting evidence. You can upload evidence later in this service if required."
      }) }}
    {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Upload document"
        }
      }) }}
    {{ govukButton({
        text: "Continue",
        href: "payment"
      }) }}
  </div>
</div>
{% endblock %}
