{% extends "layout.html" %}
{% block pageTitle %}
  What type of document are you uploading?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/slp/scottish-limited-partnership" method="post">
        {{ govukRadios({
          idPrefix: "typeInsolve",
          name: "typeInsolve",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-xl'>Scottish limited partnership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "cva1",
              text: "SLPPSC01 - Give notice of individual person with significant control of a Scottish limited partnership"
            },

            {
              value: "vam1",
              text: "SLPPSC02 - Give notice of relevant legal entity with significant control of a Scottish limited partnership"
            },
            {
              value: "vam1s",
              text: "SLPPSC03 - Give notice of other registrable person with significant control of a Scottish limited partnership"
            },
            {
              value: "vam7",
              text: "SLPPSC04 - Give notice to change details of a person with significant of a Scottish limited partnership"
            },

            {
              value: "vam7s",
              text: "SLPPSC05 - Give details of relevant legal entity with significant control of a Scottish limited partnership"
            },
            {
              value: "vam8s",
              text: "SLPPSC06 - Give notice changing details of other person with significant control of a Scottish limited partnership"
            },
            {
              value: "vam8s",
              text: "SLPPSC07 - Give notice of ceasing to be a PSC, RLE or ORP of an SLP"
            },
            {
              value: "vam8s",
              text: "SLPPSC08 - Give notice of a person of a PSC statements for a Scottish limited partnership"
            },
            {
              value: "vam8s",
              text: "SLPPSC09 - Give notice of update to PSC statements for a Scottish limited partnership"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}