{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  Select a document - Scottish limited partnership -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/slp/scottish-limited-partnership" method="post">
        {{ govukRadios({
          idPrefix: "formType",
          name: "formType",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Scottish limited partnership</span>
Select a document",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "SLP CS01 - Confirmation statement for a Scottish limited partnership",
            text: "SLP CS01 - Confirmation statement for a Scottish limited partnership"
          },
            {
              value: "SLP PSC01 - Give notice of individual person with significant control of a Scottish limited partnership",
              text: "SLP PSC01 - Give notice of individual person with significant control of a Scottish limited partnership"
            },

            {
              value: "SLP PSC02 - Give notice of relevant legal entity with significant control of a Scottish limited partnership",
              text: "SLP PSC02 - Give notice of relevant legal entity with significant control of a Scottish limited partnership"
            },
            {
              value: "SLP PSC03 - Give notice of other registrable person with significant control of a Scottish limited partnership",
              text: "SLP PSC03 - Give notice of other registrable person with significant control of a Scottish limited partnership"
            },
            {
              value: "SLP PSC04 - Give notice to change details of a person with significant control of a Scottish limited partnership",
              text: "SLP PSC04 - Give notice to change details of a person with significant control of a Scottish limited partnership"
            },

            {
              value: "SLP PSC05 - Give details of relevant legal entity with significant control of a Scottish limited partnership",
              text: "SLP PSC05 - Give details of relevant legal entity with significant control of a Scottish limited partnership"
            },
            {
              value: "SLP PSC06 - Give notice changing details of other person with significant control of a Scottish limited partnership",
              text: "SLP PSC06 - Give notice changing details of other person with significant control of a Scottish limited partnership"
            },
            {
              value: "SLP PSC07 - Give notice of ceasing to be a PSC, RLE or ORP of a Scottish limited partnership",
              text: "SLP PSC07 - Give notice of ceasing to be a PSC, RLE or ORP of a Scottish limited partnership"
            },
            {
              value: "SLP PSC08 - Give notice of a person of PSC statements for a Scottish limited partnership",
              text: "SLP PSC08 - Give notice of a person of PSC statements for a Scottish limited partnership"
            },
            {
              value: "SLP PSC09 - Give notice of update to PSC statements for a Scottish limited partnership",
              text: "SLP PSC09 - Give notice of update to PSC statements for a Scottish limited partnership"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}