{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
  Limited partnerships forms
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "../form-types"
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/types-of-forms/slp/limited-partnerships" method="post">
        {% if errorType == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {{ govukRadios({
            idPrefix: "formType",
            name: "formType",
            errorMessage: {
              text: "Select the *type of form that you want to upload* "
            },
            fieldset: {
              legend: {
                html: "<span class='govuk-caption-l'>Limited partnerships forms</span>
            Select a document",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
           },
           items: [
           {
             value: "LP5 - Register a limited partnership",
             text: "LP5 - Register a limited partnership"
           },
           {
             value: "LP6 - Make changes to a limited partnership",
             text: "LP6 - Make changes to a limited partnership"
           },
           {
             value: "LP7 - Register a limited partnership as private fund limited partnership",
             text: "LP7 - Register a limited partnership as private fund limited partnership"
           },
           {
             value: "LP8 - Designate as a private fund limited partnership",
             text: "LP8 - Designate as a private fund limited partnership"
           }
           ]
   }) }}
        {% else %}
          {{ govukRadios({
idPrefix: "formType",
name: "formType",
fieldset: {
  legend: {
    html: "<span class='govuk-caption-l'>Limited partnerships</span>
Select a document",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},

items: [
{
  value: "LP5 - Register a limited partnership",
  text: "LP5 - Register a limited partnership"
},
{
  value: "LP6 - Make changes to a limited partnership",
  text: "LP6 - Make changes to a limited partnership"
},
{
  value: "LP7 - Register a limited partnership as private fund limited partnership",
  text: "LP7 - Register a limited partnership as private fund limited partnership"
},
{
  value: "LP8 - Designate as a private fund limited partnership",
  text: "LP8 - Designate as a private fund limited partnership"
}
]
}) }}
        {% endif %}
        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}